@font-face {
    font-family: 'MisoBold';
    src: url('miso-bold-webfont.eot');
    src: url('miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'wowslider-devices';
  src: url('wowslider-devices.eot');
  src: url('wowslider-devices.eot#iefix') format('embedded-opentype'),
       url('wowslider-devices.woff') format('woff'),
       url('wowslider-devices.ttf') format('truetype'),
       url('wowslider-devices.svg#wowslider-devices') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* fix top indent */
body > img {
  float: left;
}


::-moz-selection{color:#fff;
                             color:rgb(255,255,255);
                             background:#239AB2}
                             
::selection{color:#fff;
                     color:rgb(255,255,255);
                     color:rgb(255,255,255);
                     background:#239AB2}
                     
html{margin:0;
          padding:0;
          overflow-y:scroll}
          
body{text-shadow:#fff 0 1px 0;
           color:#2c2c2c;
           font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial;
           font-weight:400;
           font-style:normal;
           font-variant:normal;
           line-height:normal;
           background-color:#EFECDD;
           margin:0;padding:0;padding-top:15px;}
:focus{outline:0}
.right386 .entry{margin-bottom:12px;
             padding-bottom:18px}
             
input:focus{outline:none;outline-width:0}
ul{list-style:none}
input::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>
input[type="button"]
::-moz-focus-inner{border:none}

caption,th,td{text-align:left;
                         font-weight:400}
                         
strong{font-weight:700}

em{font:italic 17px Georgia, "Times New Roman",Times,serif}

*{/* border:0; *//* outline:0; *//* vertical-align:baseline; *//* margin:0; */padding:0;font:inherit inherit 100% inherit}

a{color:#b02d15;text-decoration:none;cursor:pointer}

.whatsnew p{
	margin: 0 0 0 0;
}
.slideshow a:hover,.about a:hover,.entry a:hover,.entry2 a:hover,.sidebar a:hover,.right386 a:hover
{/*background-color:#fffff4;*/
  text-decoration:none;
  border-bottom:1px solid #cdc9b3}

.entry a,.sidebar a,.right386 a{border-bottom:1px solid transparent}

p{font-size:15px;
    line-height:24px;
    margin-top:10px;
    margin-bottom:18px}
    
.spaced{margin-bottom:48px}

p.large{font-size:24px;
              font-family:Cambria,Georgia,"Times New Roman",Times,serif;
              line-height:30px;margin-top:0;margin-bottom:12px}
              
blockquote{font-family:Georgia,"Times New Roman",Times,serif;
                      font-style:italic;
                      margin-top:24px;
                      margin-left:45px}
                      
blockquote p{ font-size:16px;
                          line-height:26px;
                          word-spacing:1px;
                          margin-top:0;
                          margin-bottom:36px}
.right304 blockquote p{margin-bottom:24px}
.right304 ul{margin-bottom:24px}
blockquote:before{color:#b05348;
                                   display:block;
                                   width:50px;
                                   content:open-quote;
                                   height:0;
                                   margin-left:-45px;
                                   font:normal 700 60px normal Georgia, "Times New Roman",Times,serif}
cite{font-size:16px;
         font-family:Georgia,"Times New Roman",Times,serif;
         margin-left:34px}
hr{   clear:both;
         float:left;
         height:0;
         width:100%;
         margin-bottom:20px;
         border:1px 0 solid #b3babf #ddd #ffffff}
         
.clear{clear:both}
.toppad{margin-top:36px}
.rule{background-image:url(../images/rule.gif);
          background-repeat:repeat-x;
          background-position:0 bottom;
          height:2px;
          min-height:2px;
          margin-bottom:20px}
a.go,span.go a {color:#323232;
                              background-image:url(../images/arrow2.gif);
                              background-repeat:no-repeat;
                              background-position:right center;
                              text-decoration:none;
                              font:italic 16px Georgia, "Times New Roman", Times, serif;
                              padding:4px 24px 4px 4px}
a.go:hover,span.go a:hover{text-decoration:none !important}
span.amp{font:italic 400 1.2em normal "Hoefler Text Alt", Baskerville, "Goudy Bookletter 1911", goudy-bookletter-1911-1, goudy-bookletter-1911-2, 
               "Goudy Old Style", Palatino, "Book Antiqua",serif}
               
h1,h2{font-family:"Hoefler Text","Adobe Garamond Pro","AGaramond LT",Garamond,"Baskerville Old Face","Palatino Linotype",
         "Times New Roman",Times,serif,"Times New Roman"}
h1{font-size:32px;
      font-weight:400;
      margin-bottom:18px}
      
h1.posttitle{margin-right:12px;
                       margin-bottom:0;
                       margin-left:12px;
                       padding-top:12px;
                       border-top:3px solid #dbd6c7;
                       display:block}
h1.pagetitle{display:block;
                        margin-right:12px;
                        margin-left:12px;
                        padding-top:12px;
                        border-top:3px solid #dbd6c7}
/*a.sharp{background-image:url(../images/list1.jpg);
                  text-indent:-9999px;
                  width:960px;
                  height:350px}*/
                  
h1 a{color:#3d3d3d;
    display:block}
h1.welcome{font-family:"Adobe Garamond Pro",Garamond,"Baskerville Old Face","Palatino Linotype","Times New Roman",Times,serif;
                       font-size:34px;
                       background-image:url(../images/headline1.png);
                       background-repeat:no-repeat;
                       background-position:center 0;
                       text-indent:-9999px;
                       width:960px;
                       margin-top:30px;
                       margin-bottom:0;
                       text-shadow:#fff 0 1px 0}
h2{font:400 24px "Adobe Garamond Pro", "AGaramond LT", Garamond, "Baskerville Old Face", "Palatino Linotype", "Times New Roman", Times, serif, 
      "Times New Roman"}
.center{text-align:center}.toptitle,.entry .toptitle{margin-top:0}
h3{color:#3a3a3a;
       text-shadow:0 1px 0 #FFF;
       text-transform:uppercase;
       letter-spacing:2px;
       margin-top:10px;
       margin-bottom:8px;
       font:700 15px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial}
 .bandwrap h3{margin-top:12px;
                             margin-bottom:2px}
h3.portfolio{font-weight:700;
                      border-bottom:1px dotted #7e7563}
.toprule h3,.toprule h1.entry-title, .capt a{
	margin-top:20px; 
	font-family:MisoBold;
	font-size:20px;
}

h3 a{color:#323232;
         text-decoration:none}
         
h3 a:hover,.posttitle a:hover{color:#b02d15;
                                                        text-decoration:none}
                                                        
h4 {color:#323232;text-transform:uppercase;letter-spacing:2px;margin-top:30px;padding-bottom:12px;
       font:400 15px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial}h4
a{color:#323232;font-weight:700;text-decoration:none}
.container{
	background-position:0 top;
	margin:0 auto;
	padding-bottom:48px;
}
#flags,
.section,
* html .container,
.container > h1,
.container > div,
.container > p,
.container > ul,
.container .container{
  display: block;
	max-width:984px;	
  margin: 0 auto;
}



.container1{background-position:0 top;max-width:984px;margin:0
auto;padding-bottom:0px}

.grid_12{position:relative;margin-right:auto;margin-left:auto; }
.right{float:right}

#top{position:absolute;top:0;
           width:100%;
           height:368px;z-index:-10}
.content{font-size:.95em}
.right222{width:222px;float:right;margin-right:12px;margin-left:12px}
.right304{width:304px;float:right;margin-right:12px;margin-left:12px}


.left304{margin-right:auto;margin-left:auto;width:304px;}


.right386{width:386px;float:right;margin-right:12px;margin-left:12px}
.left468,.grid_6{width:468px;float:left;margin-right:12px;margin-left:12px}
.left550{width:550px;float:left;margin-right:12px;margin-left:12px}
.left632{
	margin-right:330px;
	margin-left:12px
}
.left632 img {
  max-width: 100%;
}
.shares{
	overflow:hidden;
	margin-top:20px;
	width: 80%;
}
toprule{border-top:4px solid #e2d9c0}.
the-post>p:first-child:first-line,.the-post>.ad:first-child+p:first-line {font-size:1.1em;position:relative;
               font-family:"Adobe Garamond Pro","AGaramond LT",Garamond,"Baskerville Old Face","Palatino Linotype","Times New Roman",
               Times,serif,"Times New Roman";
               text-transform:uppercase;
               letter-spacing:1px}
.the-post>p:first-child:first-letter,.the-post>.ad:first-child+p:first-letter 
{letter-spacing:0;text-transform:uppercase;color:#9e291b;font-size:3.5em;
font-family:"Hoefler Text","AGaramond LT",Garamond,Georgia,"Times New Roman",Times,serif;float:left;margin:.13em .1em 0 0;line-height:0.7}

.left714{margin-left:12px;width:714px;float:left}
.right714{width:714px;float:right;margin-left:12px}
.full960{max-width:960px;clear:left;margin-right:12px;margin-left:12px}
.btnholder{width:100%;float:right;clear:both;padding-top:12px;padding-bottom:18px}
.about{position:relative;height:280px;margin-bottom:30px}
.about img{position:absolute;z-index:1}.about
p{text-shadow:0 1px 0 #bceaf9;
   font-size:17px;
   font-family:Georgia,"Times New Roman",Times,serif;
   position:absolute;
   top:36px;
   right:42px;
   width:260px;
   z-index:3;
   float:right}
   
 .bandwrap{background-color:#f7f5ee;min-height:300px;margin-bottom:48px;padding-top:36px;padding-bottom:48px}
 .bandwrap .left222{width:210px;padding-right:6px;padding-left:6px}
 .bandwrap p{font-size:14px;line-height:21px}
 .bandwrap em{font-size:14px}
 .bandwrap img{border:solid 1px #cfc7af}
 .pad{padding-right:12px;padding-left:12px}
 #tNav{position:relative;margin-top:24px}#tNav li
a{width:21px;height:24px}
#tNav li a:hover{background-position:0 -24px}
.tPrev{background-color:transparent;text-indent:-9999px;position:absolute;left:120px;width:21px;height:24px;z-index:10}
.tNext{background-color:transparent;text-indent:-9999px;position:absolute;right:120px;z-index:10;width:21px;height:24px}

.ruled,.entry{background-image:url(../images/rule1.gif);
                         background-repeat:repeat-x;
                         background-position:0 bottom;
                         margin-bottom:36px;
                         padding-bottom:36px}
                         
                         .container > .ruled1 {
                         max-width: 100%;
                         }
                         .container > .ruled1 > div {
                          margin-left: auto;
                          margin-right: auto;
                         }
                         .ruled1 br{line-height:5px;}
                         

#header{max-width:960px;min-height:50px;margin-right:auto;margin-bottom:18px;margin-left:auto;clear: both;}
#headerdemo{width:960px;height:70px;margin-right:auto; /*margin-bottom:24px;*/ margin-left:auto}
#logo{width:175px;height:36px;float:left;margin-top:14px;}
#logo a{position: relative;background-image:url(../images/logo2.png);
               background-repeat:no-repeat;
               background-position:left 0;
               text-indent:-9999px;
               width:175px;height:36px;
               display:block;margin:0}

/* new logo as text */
#logo a:before,
#logo a:after {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: initial;
  height: 100%;
  width: 90px;
  line-height: 0.8;
  font-size: 45px;
  color: #CF3C33;
  background: #EFECDD;
  text-shadow: none;
  font-family: MisoBold, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
}
#logo a:before {
  content: 'WOW';
}
#logo a:after {
  content: 'Slider';
  left: 90px;
  color: #3099B4;
}
 
#flags > a span{display:none} 

#flags > a {
  vertical-align: middle;
}
#flags {
  width: 100%;
  max-width: 962px;
}
#devices {
  float: left;
}
#devices > div {
  margin: 0;
}
#devices a {
  background: rgba(30, 165, 194, 0.5);
  padding: 0 12px;
  height: 27px;
  line-height: 27px;
}
#devices a.checked,
#devices a:hover {
  background: #1EA5C2;
}
#devices .laptop,
#devices .tablet,
#devices .mobile {
  font-family: 'wowslider-devices';
  font-size: 20px;
  vertical-align: top;
}
#devices .laptop:after {
  content: '\e802';
}
#devices .tablet:after {
  content: '\e801';
}
#devices .mobile:after {
  content: '\e800';
}



 /* ****************************************************navigation**********************************************/              
ul#nav{float:right;margin:7px 0 0;padding:0}
#nav li.item{width:140px;float:left;margin:0 0 0 6px;padding:0}
#nav li.mobile-item {display: none;}
#nav li.item a{color:#3d3d3d;
                background-image:url(../images/navback.png) ;
                background-repeat: no-repeat;
                background-position:-140px 0;
                text-decoration:none;
                text-transform:uppercase;
                letter-spacing:1px;
                width:120px;
                padding-top:4px;
                padding-bottom:8px;
                padding-left:12px;
                border-left:1px solid #ccc5b2;
                display:block;
                font:20px MisoBold, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial}
                
#nav li.item a:active{padding-top:5px;padding-bottom:7px}
#nav li.item a span{text-transform:lowercase;
                           letter-spacing:normal;
                            display:block;
                            font:italic 13px Georgia, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, "Times New Roman", Times, serif}
#nav li.item.current_page_item a,.current{color:#B02D15}ul.homelist li,ul.homelist2 li{
                             font-size:14px;
                             font-variant:normal;
                             margin-top:6px;
                             margin-bottom:6px;
                             padding-top:12px;
                             padding-bottom:12px;
                             padding-left:54px;
                             border:0 transparent}
                             
.dev{background-image:url(../images/dev.jpg);
          background-repeat:no-repeat;
          background-position:left center}
          
.design{background-image:url(../images/design2.jpg);
               background-repeat:no-repeat;
               background-position:left center}
               
.brand{background-image:url(../images/brand.jpg);
              background-repeat:no-repeat;
              background-position:left top}
              
.seo{background-image:url(../images/seo.jpg);
         background-repeat:no-repeat; 
         background-position:left center}
         
.socialm{background-image:url(../images/social.jpg);
                 background-repeat:no-repeat;
                 background-position:left center}
                 
.redesign{background-image:url(../images/redesign.jpg);
                   background-repeat:no-repeat;
                   background-position:left center}
                   
ul.homelist{width:316px;float:left;padding:0;list-style-type:none;display:block}
.work li{height:197px;float:left;margin-right:12px;margin-left:12px;padding:0;border:solid 6px #e2d9c0;list-style-type:none}

.boxgrid{background-image:none;background-repeat:repeat;background-attachment:scroll;
                 background-position:0 0;width:292px;height:197px;float:left;border:solid 6px #e2d9c0;
                 overflow:hidden;position:relative;margin-right:10px;margin-bottom:24px;margin-left:10px}
                 
 .boxgrid img{position:absolute;top:0;left:0;border:0}
 .boxcaption{color:#fff;float:left;position:absolute; background:rgb(51,152,182);background:rgba(51,152,182,.9);height:100px;width:274px;
                        padding-top:12px;padding-left:18px}
                        
.boxgrid:active{border-top-width:7px;border-bottom-width:5px}
.captionfull .boxcaption{top:260px;left:0;text-shadow:none !important;cursor:pointer;}
.boxcaption .caption{font-size:14px;position:absolute;bottom:30px}
.boxcaption .descr{display: none}
.boxcaption .title{color:#fff;font-size:15px;font-weight:700;text-transform:uppercase;letter-spacing:1px;margin-bottom:12px;display:block;text-shadow:none}
.work li a{height:197px;display:block}
.work{width:100%;margin-bottom:0px;clear:both;overflow:hidden;}
ul.homelist li span,ul.homelist2 li span{font-size:15px;font-weight:700;display:block}
ul.homelist2{list-style-type:none;display:block;margin:0;padding:0;width:316px;float:left}
.arrow{opacity:0.3;background-repeat:no-repeat;background-attachment:scroll;background-position:center;
             display:block;height:300px;width:80px;text-indent:-9999px;position:absolute;top:0;z-index:10;cursor:pointer}
             
.textholder{color:#fff;padding-right:20px;padding-left:20px;text-shadow:0;-moz-text-shadow:0;-webkit-text-shadow:0}
.textholder p{padding:20px}

.next{background-image:url(../images/next.png);
           background-position:24px center;right:0}
           
.prev{background-image:url(../images/prev.png);
            background-position:10px 130px}
            
#imagecon{background-image:url(../images/foot1.jpg);width:944px;margin-right:auto;margin-left:auto;padding:8px;border-style:none}
#images{width:944px;margin-right:auto;margin-left:auto}
#images ul li{width:944px;height:300px;overflow:hidden}
#images img{width:944px !important}
#content p.meta{margin:-4px 0 0}

.postmeta em{background-repeat:repeat-x;background-position:0 bottom;
                            text-transform:none;font:400 15px Georgia, "Times New Roman",Times,serif}
                            
.postmeta{font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial;
                    font-variant:small-caps;
                    background-image:url(../images/rule2.gif); 
                    background-repeat:repeat-x;
                    background-position:0 bottom;
                    text-transform:lowercase;
                    margin-bottom:18px;
                    padding-bottom:12px}
                    
.postmeta a,.posttitle a,.normal{color:#3d3d3d}
.entry ul li{font-size:15px;line-height:150%;margin-bottom:10px;margin-left:24px;list-style:square}

ul.worklist li,ul.worklist2 li{background-image:url(../images/check2.gif);
                                                 background-repeat:no-repeat;background-position:left center;
                                                 margin-top:0;
                                                 margin-bottom:0;
                                                 padding:4px 4px 4px 24px;
                                                 border:0 transparent;
                                                 text-shadow:0 1px 0 #FFF;
                                                 font:italic 17px Cambria, Georgia, "Times New Roman",Times,serif}
                                                 
ul.worklist{width:180px;float:left;margin:0
24px 24px 0;padding:0;list-style-type:none;display:block}

ul.worklist2{list-style-type:none;display:block;margin:0
0 24px;padding:0;width:180px;float:left}

.workmeta{font-family:Georgia,"Times New Roman",Times,serif;font-style:italic;
                      background-image:url(../images/rule3.gif);
                      background-repeat:repeat-x;
                      background-position:0 bottom;
                      margin-top:8px;
                      margin-bottom:18px;
                      padding-bottom:12px}
                      
.workmeta a,ul.worklist li a,ul.worklist2 li a,.tags a{color:#323232}
.del li a{color:#3d3d3d;margin-right:6px;padding:6px 12px;border-radius:20px;background-color:#deded3;
              font-size:13px;border:1px solid #c8c8b7}
              
.entry .del li{float:left;margin:0;display:inline-block;line-height:40px}
.del{margin-bottom:30px;display:block}
.crop{width:520px;overflow:hidden;border:solid 6px #cfc7af}
.crop200,.homework{height:210px;overflow:hidden;}
#work-list{/* width:100%;margin:24px auto 40px;border-bottom:3px solid #dbd6c7 */}
#work-list ul{height:80px}
#work-list ul li{float:left;margin-right:18px;border:solid 3px #cfc7af}
#work-list ul li a{display:block;width:58px;height:58px;overflow:hidden}

.gallery .image{position:relative;width:80px;height:80px;overflow:hidden !important;float:left;margin-top:18px;
                              margin-right:18px;border:solid 3px #cfc7af}
                              
.tags span{letter-spacing:1px}
.tags em{font-size:15px;line-height:normal;word-spacing:6px}
.gallery .image img{position:absolute;top:-100px;left:-60px}
.txt,.checkoutlist input{font-size:15px;margin-bottom:4px;padding:6px
4px;width:380px;border:solid 1px #c4bfb5;-moz-box-shadow:0 2px 4px #ADADAD inset;-webkit-box-shadow:0 2px 4px #ADADAD inset;
box-shadow:0 2px 4px #ADADAD inset}

.thumb{background-position:0 0;background-repeat:no-repeat;border-style:none;color:#000;cursor:pointer;
              display:inline;float:left;font-family:Arial;height:19px;line-height:19px;margin-right:8px;
              overflow:hidden;padding:0;text-align:center;text-indent:-9999px;width:19px}
              
#items-0-quantity{font-size:15px;margin-bottom:4px;padding:6px
                             4px;border:solid 1px #c4bfb5;
-moz-box-shadow:0 2px 4px #ADADAD inset;-webkit-box-shadow:0 2px 4px #ADADAD inset;box-shadow:0 2px 4px #ADADAD inset}

textarea.txt{height:160px}.txt:focus,.checkoutlist input:focus{border:solid 1px #2ea4e3}
div.wpcf7 input.button{margin-top:8px}

div.wpcf7 input.button2{margin-top:8px;margin-left:124px}


/* ----------------------BUTTON------------*/
.button4 {text-align:center;border:0px; margin:0;vertical-align: top;  width: 310px;}
.button4 img{float: left;padding-top: 2px; padding-right: 8px;}
.button4 em {font-size: 22px; color:#C73C35}

/*----------------headline--------------------*/
.custom_headline { width: 100%; margin-top:10px; line-height:40px;  font-size:12px; color: #999;}
h3.entry-title img {position:relative; top: 4px; left: 0px; padding-right: 5px;}



.button,.addtocart,.update-button,.submit input{text-shadow:none;-moz-border-radius:6px;-webkit-border-radius:6px;
border-radius:6px;color:#fff;font:700 15px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;cursor:pointer;
display:inline-block;padding:5px 16px;
position:relative;
text-decoration:none;
margin:0;
background:rgb(51,152,182) repeat-x;
text-transform:uppercase}

.button.small{font-size:13px;padding:6px 12px;margin:0 5px;}
.button.small:active{padding-top:7px;padding-bottom:5px}
.button.effbutton{
	font-size:12px;
	font-weight:normal;
	margin-bottom:5px;
}

.button:active,.addtocart:active,.update-button:active{background-color:rgb(51,152,182);background-repeat:repeat;
background-attachment:scroll;background-position:0 top;
-moz-box-shadow:inset 0 2px 3px rgba(0,0,0,0.7);
margin:0;outline-style:none;outline-width:0}


.control-buttons {
  position: relative;
    z-index: 101;
  font-size:14px ;
  text-transform:uppercase;
}
.control-buttons span{
  margin-bottom:5px;
  margin-right:5px;
}
.control-buttons .effects-title,
.control-buttons a.button {
  font: 17px MisoBold, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial;
}


.control-buttons a.button,
#effbuttons a.button.checked,
#effbuttons a.button:hover {
  background: rgba(30, 165, 194, 0.5);
}
.control-buttons a.button.checked,
.control-buttons a.button:hover,
#effbuttons a.button {
  background: #1EA5C2;
}

/* More effects */
.effmore span {
  margin: 0;
  vertical-align: middle;
  line-height: 0.1;
}
.effmore:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  left: 0;
}
.effmore ul {
  position: absolute;
  cursor: default;
  display: none;
  background: #1EA5C2;
  left: 0;
  bottom: 100%;
  margin-bottom: 5px;
  max-height: 250px;
  min-width: 150px;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.effmore:hover ul {
  display: block;
}
.effmore ul li {
  cursor: pointer;
  padding: 5px 16px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.effmore ul li.checked,
.effmore ul li:hover {
  background: #86C8CF;
}


.remove{-moz-box-shadow:inset 0 2px 3px rgba(255, 255, 255, 1);-moz-border-radius:4px;-webkit-border-radius:4px;
color:#323232;cursor:pointer;
display:inline-block;
background-color:#919191;
background-image:url(../images/foot1.jpg);
background-repeat:repeat-x;padding:4px 9px;
position:relative;text-decoration:none;margin:0;border:solid 1px #c4bfb5;text-shadow:0 1px 0 rgb(255, 255, 255);
font:normal !important normal !important 400 !important 11px !important normal !important !important !important}


.remove:focus,.remove:hover,.button:focus,.addtocart:focus,.update-button:focus,.button:hover,.addtocart:hover,.update-button:hover
{background-color:#63b4ca;background-position:0 bottom;text-decoration:none;
border-bottom-style:none !important;
border-bottom-width:0 !important}

.remove:active{-moz-box-shadow:inset 0 2px 3px rgba(0,0,0,0.7);

background-image:url(../images/foot1.jpg);
margin:0;
padding-top:5px;
padding-bottom:3px;
outline-style:none;
outline-width:0;opacity:1.0}

span.label{display:block;float:left;font-size:15px;margin-right:24px;text-align:right;width:140px !important}
span.label2{font-size:15px;text-align:left;width:300px;display:block;margin-right:24px;float:left}
span.wpcf7-list-item{display:block}
.form{margin-top:6px}
.form p{margin-top:4px;margin-bottom:10px}
.form em{color:#b02d15;font-size:18px;
                  font-family:Georgia,"Times New Roman",Times,serif}

.form h3{margin-top:22px;margin-bottom:0}
#sidebarleft,.left222{width:222px;float:left;margin-right:12px;margin-left:12px}


.widget li{margin-bottom:40px;list-style:none}
.widget li li a{ color:#323232;text-decoration:none;
                          padding:6px 6px 6px 26px;
                          border-bottom:1px dotted #cbc8c5;
                          display:block}
                          
.widget li a:hover,.widget li a:active{color:#b02d15;background-color:#f7f6e9}


.widget1 li{     color:#323232;text-decoration:none;
                          padding:6px 6px 6px 26px;
                          border-bottom:1px dotted #cbc8c5;
                          display:block;
                         background-image:url(../images/grid.png);background-repeat:no-repeat;background-position:3px center     
                          
                          }
                          
.widget1 li:hover {color:#b02d15;background-color:#f7f6e9}



.widget li.current_page_item a,.widget li.current_page_item a:visited,
.widget li.current-cat a,.widget.current-cat a:visited

{font-weight:700;background-image:url(../images/arrow2.gif);
  background-repeat:no-repeat;
  background-position:5px center}
  
  
  .widget li.current_page_item li a,.widget li.current_page_item li a:visited,.widget li.current-cat li a,.widget li-current-cat li a:visited{font-weight:400}
  .widget li li{font-size:15px;margin:0;border:0;list-style-image:none}
  .widget ul{margin:0;padding:0}
  
.prefoot-wrap{background-image:url(../images/foot1.jpg);
                           padding-top:12px;padding-bottom:36px;border-top:1px solid #f6f2e6}
                           
.pre-foot p{font-size:13px;line-height:22px;margin-top:9px;margin-right:6px;margin-left:6px}
.pre-foot{font-size:13px;width:984px;margin-right:auto;margin-left:auto;padding-top:16px}

.pre-foot h4{background-image:url(../images/rule4.gif);
                       background-repeat:repeat-x;background-position:0 bottom;
                       margin-top:8px;margin-right:6px;margin-left:6px}
                       
.pre-foot ul{margin-right:6px;margin-left:6px;list-style-type:none;display:block}
.pre-foot .social li a span{background-repeat:no-repeat;padding-left:30px;display:block}

.pre-foot .twitter{background-image:url(../images/twitter.png);background-repeat:no-repeat;background-position:3px center}
.pre-foot .rss{background-image:url(../images/rss.png);background-repeat:no-repeat;background-position:3px center}
.pre-foot .facebook{background-image:url(../images/facebook.png);background-repeat:no-repeat;background-position:3px center}
.pre-foot .behance{background-image:url(../images/behance.png);background-repeat:no-repeat;background-position:3px center}
.pre-foot .linkedin{background-image:url(../images/linkedin.png);background-repeat:no-repeat;background-position:3px center}
.pre-foot ul li{float:none;display:block}
.pre-foot ul li a{color:#2a2a2a;background-image:none;padding:9px
6px;border-bottom:1px solid #c7c0ac;display:block;text-shadow:#fbf9ed 0 1px 0}

.pre-foot ul li a span{font-family:"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial;font-weight:400;font-style:normal;background-image:none;
                 background-repeat:no-repeat;background-position:0 center;
                 padding:0;display:block}
                 
.pre-foot ul li a:hover{text-decoration:none;background:rgb(236,233,218);background:rgba(236,233,218,.4);border-bottom-color:#c2baa2}
.pre-foot ul.work em{font-size:13px;margin-top:7px;display:block}
.pre-foot ul li.work a img{float:left;margin-right:12px;border:solid 3px #9b978b}
.pre-foot ul li a:hover img{border-color:#b3ae9f}

#footer-wrap{background-repeat:repeat-x;background-attachment:scroll;background-position:0 0;position:relative;margin:0;padding:12px
0 24px}

#footer1{color:#515151;font-size:13px;text-align:right;max-width:984px;padding: 0px; margin: -25px auto 25px auto; }

#footer-wrap1{background-repeat:repeat-x;background-attachment:scroll;background-position:0 0;position:relative;margin:0;padding:0px
0 0px}

#footer{color:#515151;font-size:13px;text-align:right;padding:10px;margin:0 auto}

.pre-foot img{border:solid 4px #d1c8b0}
#footer a{color:#515151;margin-left:16px;padding-left:16px;border-left:1px solid #8f8f8f}
a#cancel-comment-reply-link{display:block;padding-bottom:10px;color:#333}
#comments h3,h3#respond-title{font-size:1.4em;color:#333}
.reply a,.reply a:visited{width:75px;background:#CCC;color:#FFF;display:block;margin-bottom:15px;padding:5px
!important;text-align:center;text-decoration:none !important;font:italic 1em Georgia,Arial,Verdana;position:relative}

.field{padding:4px;-moz-box-shadow:inset 0 2px 4px #adadad;-webkit-box-shadow:inset 0 2px 4px #adadad;box-shadow:inset 0 2px 4px #adadad}
.reply a:hover{background:#aeaeae;text-decoration:none;color:#FFF}
.reply a:active{background:#424242;color:#FFF}
.commentlist li{margin:0
0 22px;padding:15px;background:#F2F2F2;border-bottom:1px solid #DDD;border-top:1px solid #DDD;list-style:none}

.commentlist li li{border:none;border-left:1px solid #CCC;margin:0 0 0 20px;padding-left:25px;background:none}
.commentlist li.bypostauthor{background:#e5e5e5 !important;border:2px solid #CCC}

.commentlist code{background:#f2f2f2;padding:3px}
.avatar{margin:3px 10px 0 0;float:left;padding:2px;border:1px solid #b9b9b9}

#trackbacklist li{margin:10px 0 10px 35px}
#trackbacklist cite{font-style:normal}

cite.fn{font:700 1.4em Georgia, "Times New Roman", Times, serif;letter-spacing:-.05em;display:block;padding:9px
0 4px}.

says,.hidden,fieldset legend{display:none}
.comment-author{overflow:hidden}
.commentmetadata,.left{float:left}
.comment-date a,.comment-date a:visited{color:#9f9f9f;font-size:.9em;text-decoration:none}
.commentmetadata a:hover,.commentmetadata a:active{text-decoration:underline;color:#333}
#image{height:352px}
.feature{margin-bottom:30px}
.postthumb{margin:24px 0}
acronym{border-bottom:1px dotted #363636;cursor:help}
#sidebar{padding-top:30px}
.slideshow p{font-size:17px;font-family:Georgia,"Times New Roman",Times,serif}
#slideback{box-shadow:#fff 0 0 50px;-moz-box-shadow:#fff 0 0 50px;-webkit-box-shadow:#fff 0 0 50px;
                     background-image:url(../images/foot1.jpg);background-repeat:repeat;height:348px;margin-top:30px;
                     margin-bottom:30px;border:solid 1px #dbd1b5}
                     
#cyclenav{position:absolute;right:30px;bottom:30px;z-index:2000;display:inline-block}

.letstalkbutton{background-image:url(../images/download.png);background-position:left top; 
                             width:300px;height:59px;display:inline-block;
                             cursor: pointer;}
                             
.letstalkbutton:hover{opacity: 0.9}
/*.letstalkbutton:active{background-position:0 -90px;position:relative;top:1px}*/

/*.slideshow ul li{position:relative;width:860px;height:300px;z-index:1;padding:40px 50px 10px}*/
div.slideshow{
  overflow:visible;
  max-width: none;
}

.slideshow .holder {
  max-width: 960px;
  margin: 0 auto;
}

.home2{background-image:url(../images/fullservice.jpg);background-repeat:no-repeat;background-position:36px 36px}
.home3{background-image:url(../images/spittingimages.jpg);background-repeat:no-repeat;background-position:24px bottom}

.slideshow li .right2 h2,.slideshow li .right h2{text-indent:-9999px;margin-bottom:24px}
.slideshow h1{font-size:36px}
.slideshow .left{width:380px;float:left}
.slideshow .right{width:300px;margin-right:25px}
.slideshow .left2{float:left;width:300px}
.slideshow .right2{float:right;width:504px;margin-top:12px}
.slideshow .slide-nav{width:960px;position:absolute;bottom:15px;left:0;height:30px;z-index:10}
.slideshow .slide-nav ul{float:right;position:relative;list-style:none;padding:0 6px 0 0;margin:0 24px 0 0;top:0;height:30px}
.slideshow .slide-nav li{width:18px;height:18px;float:left;margin:0 8px 0 0;padding:0}

.slideshow .slide-nav a{display:block;width:18px;height:18px;text-align:center;overflow:hidden;color:#fff;
                                          
                                             text-indent:-9999px;
                                             margin:0;
                                             padding:0;cursor:pointer}
                                             
.slideshow .slide-nav a:hover,.slideshow .slide-nav .active a{background-color:transparent;background-repeat:no-repeat;background-attachment:scroll;
                           background-position:0 0;text-decoration:none}
                           
.entry h3{margin-top:30px}
div.wpcf7{margin:0;padding:0}
div.wpcf7-response-output{margin:2em
0.5em 1em;padding:0.2em 1em}div.wpcf7-mail-sent-ok{border:2px solid #398f14}
div.wpcf7-mail-sent-ng{border:2px solid #f00}
div.wpcf7-spam-blocked{border:2px solid #ffa500}
div.wpcf7-validation-errors{border:2px solid #f7e700}
span.wpcf7-form-control-wrap{position:relative}
span.wpcf7-not-valid-tip{position:absolute;top:20%;left:20%;z-index:100;background:#fff;border:1px
solid #f00;font-size:10pt;width:280px;padding:2px}

span.wpcf7-not-valid-tip-no-ajax{color:#f00;font-size:10pt;display:block}
span.wpcf7-list-item{margin-left:0.5em}
.wpcf7-display-none{display:none}
div.wpcf7 img.ajax-loader{border:none;vertical-align:middle;margin-left:4px}
div.sociable{margin:16px 0}
span.sociable_tagline{position:relative}
span.sociable_tagline
span{display:none;width:14em}
span.sociable_tagline:hover span{position:absolute;display:block;top: -5em;background:#ffe;border:1px
solid #ccc;color:black;line-height:1.25em}

.sociable span{display:block}
.sociable ul{display:inline;margin:0 !important;padding:0 !important}

.sociable ul li{background:none;display:inline !important;list-style-type:none;margin:0;padding:1px}
.sociable ul li:before{content:""}
.sociable img{float:none;width:16px;height:16px;border:0;margin:0;padding:0}
.sociable-hovers{opacity: .4;-moz-opacity: .4;filter:alpha(opacity=40)}
.sociable-hovers:hover{opacity:1;-moz-opacity:1;filter:alpha(opacity=100)}
#shopp .submit{text-align:right}
#shopp form{text-align:left}
#shopp form.product ul.options{list-style:none}
#shopp form ul{line-height:1}
#shopp form label{font-size:14px;font-weight:bold;padding-bottom:3px}
#shopp form ul li span label, #shopp form div label{font-size:11px;font-weight:normal;padding-bottom:8px}
.categories ul li a.current{font-weight:bold}
#shopp .category{position:relative}
#shopp .views{display:inline;position:absolute;right:0;top:0}
#shopp .views button{border:none;background:none;cursor:pointer;padding:2px}
#shopp .views button:hover{background-color:#ebebeb;border:1px solid #777}

#shopp .views li{display:inline}
#shopp .orderby{float:right}
#shopp .subcategories{padding:10px 0;margin-bottom:10px}
#shopp ul.products li.product div.frame{padding:10px}#shopp ul.products li .name,
#shopp ul.products li .summary,
#shopp ul.products li .savings,
#shopp ul.products li .price{margin-top:0;margin-bottom:0}
#shopp ul.products li .details{float:none}
#shopp ul.products li .summary{display:none}
#shopp ul.products li .listview{display:none}
#shopp ul.products img{display:block}
#shopp .price{font-weight:bold;line-height:1.5;margin:0}
#shopp .original{text-decoration:line-through}
#shopp .sale{font-size:150%}.filters a.cancel:before{content:"["}.filters
a.cancel{font-weight:bold}.filters a.cancel:after{content:"]"}.filters a.cancel:hover{text-decoration:none}#shopp.list ul.products
li{float:none;width:100%;clear:both;padding-bottom:10px}#shopp.list ul.products
li.product{border-bottom:1px solid #ddd}#shopp.list ul.products li
div.frame{width:100%;text-align:left}#shopp.list ul.products li

/*img{float:left;margin-right:10px}*/

#shopp.list ul.products li
.details{float:left;width:65%}#shopp.list ul.products li
.listview{display:block}#shopp
ul.breadcrumb{margin:10px
0}#shopp ul.breadcrumb
li{background:none;padding:0;display:inline;margin-left:0;text-indent:0}#shopp
ul.categories{float:left;margin-right:20px}#shopp
ul.paging{}#shopp ul.paging
li{}#shopp ul.paging li
a{}#shopp ul.paging li a:hover{}#shopp ul.paging
li.active{}#shopp ul.paging
li.disabled{}#shopp ul.paging li.previous a,
#shopp ul.paging li.next
a{}#shopp
.column{float:left}#shopp
.column.first{width:65%}#shopp
.column.second{float:right;width:35%}#shopp
.original{text-decoration:line-through}#shopp form.product ul,
#shopp form.product ul li,
#shopp form.product ul li
label{clear:none}#shopp ul.variations
label{display:block}#shopp
dl{clear:both}#shopp dl
dt{font-weight:bold;float:left;margin-right:10px;clear:left}#shopp dl
dd{display:block;clear:right}#shopp
.gallery{margin:5px
10px 5px 0}#shopp .gallery ul.previews li.thumbnails
ul{margin:10px
0 10px 0}#shopp .gallery ul.previews li.thumbnails
li{margin:0
5px 0 0}ul.shopp_categories{}ul.shopp_categories
li{}ul.shopp_categories li
a{}ul.shopp_categories li a:hover{}ul.shopp_categories li
span{}ul.shopp_categories
li.current{}ul.shopp_categories li.current
a{}ul.shopp_categories li.current a:hover{}ul.shopp_categories li
ul.children{}ul.shopp_categories li ul.children
li{}ul.shopp_categories li
ul.active{}.sideproduct{margin-top:20px}.sideproduct
h3{margin-top:0}#shopp
#cart{width:100%}#shopp #cart


/*table{padding:10px
0;width:100%}*/

#shopp #cart
th{text-align:left;font-weight:bold}#shopp #cart th, #shopp #cart
td{padding:3px}#shopp #cart
.item{width:50%}#shopp #cart .money,
#shopp #cart .totals th,
#shopp #cart .buttons
td{text-align:right;white-space:nowrap}#shopp #cart .totals.total th,
#shopp #cart .totals.total
td{font-size:130%}#shopp #cart
.remove{font-size:9px}#shopp #cart
address{font-style:normal}#shopp #cart
big{display:block;margin:10px
0}#shopp #cart big
a.right{float:right}#shopp
.xcheckout{display:block;clear:both;text-align:right}#shopp .xcheckout
button{border:none;margin:0;padding:0}#shopp-cart.widget
p.status{margin-bottom:10px}#shopp #shipping-methods{padding-left:30px}#shopp #shipping-methods
li{margin-top:5px}#shopp #shipping-methods
input{margin-left: -16px}#shopp
#errors{color:#900}#shopp
#receipt{position:relative;margin:20px
0}#shopp #receipt
address{font-style:normal}#shopp #receipt
fieldset{float:left;width:auto;width:42%;padding:10px;border:1px
solid #dadada;margin-bottom:30px}#shopp #receipt
fieldset.shipping{width:42%;float:right}#shopp #receipt fieldset
legend{display:block}#shopp #receipt


/*table.transaction{clear:both;width:100%;margin-bottom:10px}#shopp #receipt table.transaction
th{text-align:right;width:80px;padding-right:10px}#shopp #receipt
.order{width:100%;clear:both;border:none}#shopp #receipt
td{border:none}#shopp #receipt
th{font-weight:bold;text-align:left;border:none}

#shopp #receipt th,
#shopp #receipt
td{padding:3px
0}#shopp #receipt .order
.item{width:50%}#shopp #receipt .order .money,
#shopp #receipt .order .total,
#shopp #receipt .order .buttons
td{text-align:right}#shopp #receipt .order .totals.total th,
#shopp #receipt .order .totals.total
td{font-size:130%}#TB_window{font:bold 10px Arial,Helvetica,sans-serif;color:#666;text-transform:uppercase;letter-spacing: -1px}*/
#TB_secondLine{font:bold 10px Arial,Helvetica,sans-serif;color:#666}
#TB_window a:link{color:#ddd;background:#333;text-decoration:none;padding:4px
7px 3px;margin: -3px 0 0 5px}

#TB_window a:visited{color:#666}#TB_window a:hover{color:#fff;background:#000}
#TB_window a:active{color:#666}#TB_window a:focus{color:#666}
#TB_window #TB_ImageOff:link{background:none;padding:0;margin:0}
#TB_window #TB_ImageOff:hover{background:none}
#TB_overlay{position:fixed;z-index:100;top:0px;left:0px;height:100%;width:100%}

.TB_overlayMacFFBGHack{background:url('../images/macFFBgHack.png') repeat}
.TB_overlayBG{background-color:#000;filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75}

* html #TB_overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight :document.body.offsetHeight+'px')}#TB_window,#TB_load{position:fixed;background:#fff;z-index:102;color:#666;display:none;border:solid 4px #000;text-align:left;top:50%;left:50%}
* html #TB_window{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px')}
#TB_window img#TB_Image{display:block;margin:15px
0 0 15px}#TB_caption{height:25px;padding:7px
30px 10px 15px;float:left}#TB_closeWindow{height:25px;padding:7px
12px 10px 0;float:right}#TB_closeAjaxWindow{padding:7px
10px 5px 0;margin-bottom:1px;text-align:right;float:right}#TB_ajaxWindowTitle{float:left;padding:7px
0 5px 10px;margin-bottom:1px}#TB_title{background-color:#e8e8e8;height:27px}#TB_ajaxContent{clear:both;padding:2px
15px 15px 15px;overflow:auto;text-align:left;line-height:1.4em}#TB_ajaxContent.TB_modal{padding:15px}#TB_ajaxContent
p{padding:5px
0px 5px 0px}#TB_load{position:fixed;display:none;height:208px;width:208px;z-index:103;top:50%;left:50%;margin:-6px 0 0 -104px;text-align:center}* html
#TB_load{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)+'px')}#TB_HideSelect{z-index:99;position:fixed;top:0;left:0;background-color:#fff;border:none;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;height:100%;width:100%}* html
#TB_HideSelect{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight :document.body.offsetHeight+'px')}#TB_iframeContent{clear:both;border:none;margin-bottom:-1px;margin-top:1px;_margin-bottom:1px}

#register-form .submit { margin:15px 0 0 265px; }
*+html #register-form .submit { margin:15px 0 0 287px; } /* IE7 */
#register-form .submit input {
    font-size: 13px;
    padding: 6px 12px;
}
#register-form input.input_text {
    height:24px;
    font-size:18px;
    line-height:24px;
    padding:5px;
    border:1px solid #ddd;
    color:#444;
    width:300px;
}
#register-form input.input_text {
    margin-bottom:5px;
}
#register-form span.label {
    text-align:left;
    text-indent:13px;
    width:100px !important;
}
#register-form span {
    margin-top:10px;
}
#mail-form p,
#mail-form h2, #mail-form ul { margin-left:12px; }
#mail-form li { color: rgb(12, 86, 162); }
.notice {
    margin:10px 0 25px 12px;
    color:#b02d15;
}

/* respond */
input.respond{
	display:none;
}
div.respond{
	margin:10px auto;
	width:300px;
	height:80px;
	text-align:center;
	/*font-style:italic;*/
	font-size:13px;
}
div.respond label{
	width:33%;
	display:block;
	float:left;
	text-align:center;
}
div.respond label img{
	cursor:pointer;
}
#respond_ipad:checked ~ .container{/* css3 selector */
	max-width: 800px;
}
#respond_iphone:checked ~ .container{
	max-width: 480px;
}
#respond_iphone:checked ~ .container #headerdemo, #respond_iphone:checked ~ .container #work-list{
	display:none;
}

#features { width: 100%; }
#features h4,
#annotation h4 {
    font-family: MisoBold;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    margin-top: 10px;
    text-transform: none;
}
#features .spacer img {
    float: left;
    margin-right: 10px;
}
#features .spacer { padding: 0 5px; }
#features .item {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}
#features p {
    display: table-cell;
    font-size: 14px;
    line-height: 20px;
}
#annotation h3 { padding-top: 35px; }
#annotation .td-left .spacer { padding-right: 10px; }
#annotation .td-right .spacer { padding-left: 10px; }
#annotation .item {
    float: left;
    width: 50%;
}
#annotation h4 {
    margin: 0;
    padding: 0 0 12px 0;
}
#annotation .tr,
#features .tr { clear: left; }
#annotation p,
#features p { margin-top: 0; }
#annotation h4 img,
#features h4 img {
    left: 0px;
    padding-right: 5px;
    position: relative;
    top: 4px;
}


/* For Cube Over in old Demos */
[id*=wowslider-container] .ws_cube_side,
#wowslider-container .ws_cube_side,
#wowslider-container1 .ws_cube_side {
  background: #A6A5A9;
}


/* fullwidth slider styles */
.fullwidth > [id*=wowslider-container],
.fullwidth > #wowslider-container,
.fullwidth > #wowslider-container1 {
  display: block;
  max-width: 100%;
  max-height: 360px;
}
[id*=wowslider-container] .ws_images > div > img,
#wowslider-container .ws_images > div > img,
#wowslider-container1 .ws_images > div > img,
.fullwidth > [id*=wowslider-container] .ws_images,
.fullwidth > #wowslider-container .ws_images,
.fullwidth > #wowslider-container1 .ws_images {
  max-height: 360px;
  max-width: none;
}

.ws_fs_wrapper [id*=wowslider-container] .ws_images > div > img,
.ws_fs_wrapper #wowslider-container .ws_images > div > img,
.ws_fs_wrapper #wowslider-container1 .ws_images > div > img {
  max-height: none;
}
.ws_fs_wrapper [id*=wowslider-container] .ws_images,
.ws_fs_wrapper #wowslider-container .ws_images,
.ws_fs_wrapper #wowslider-container1 .ws_images {
  max-width: none;
}

/* fix some changes in 7.1 slider */
[id*=wowslider-container] > div.ws_images img,
#wowslider-container > div.ws_images img,
#wowslider-container1 > div.ws_images img {
  width: auto;
}
[id*=wowslider-container] > div.ws_images .ws_list img,
#wowslider-container > div.ws_images .ws_list img,
#wowslider-container1 > div.ws_images .ws_list img,
[id*=wowslider-container] > div.ws_images .ws_effect img,
#wowslider-container > div.ws_images .ws_effect img,
#wowslider-container1 > div.ws_images .ws_effect img {
  width: 100%;
}
[id*=wowslider-container] .ws_controls,
#wowslider-container .ws_controls,
#wowslider-container1 .ws_controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


/* fullscreen wrapper styles */
.ws_fs_wrapper {
  width:100%;
  height: 100%;
  background: #181818;
}

.ws_fs_wrapper [id*=wowslider-container],
.ws_fs_wrapper #wowslider-container,
.ws_fs_wrapper #wowslider-container1,
.ws_fs_wrapper [id*=wowslider-container] .ws_images,
.ws_fs_wrapper #wowslider-container .ws_images,
.ws_fs_wrapper #wowslider-container1 .ws_images {
  margin:0 auto;
  max-height: none;
}

.ws_fs_wrapper [id*=wowslider-container],
.ws_fs_wrapper #wowslider-container,
.ws_fs_wrapper #wowslider-container1 {
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0; 
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}




/* RESPONSIVE */
@media only screen and (min-width: 984px) {
  .container {
    overflow: hidden;
  }
}
@media only screen and (max-width: 800px) {
  /* flags + devices */
  #devices {
    display: none;
  }
  #flags {
    text-align: center;
  }


  /* logo + navigation */
  #header, #headerdemo {
    max-width: 366px;
  }
  #logo,
  #nav {
    margin: 0;
  }
  #nav li.item {
    display: none;
  }
  #nav li.mobile-item {
    display: block;
  }
  #nav li.mobile-item select {
    height: 30px;
  }

  /* why wowslider */
  #annotation .item {
    float: none;
    width: 100%;
  }
  #annotation .td-right .spacer {
    padding: 0;
  }
  .letstalkbutton {
    display: block;
    margin: 0 auto;
  }

  /* recent demos */
  .crop200, .homework {
    height: auto;
  }
  .work {
    text-align: center;
  }
  .work li {
    float: none;
    display: inline-block;
    margin: 10px auto;
  }


  /* features */
  #features .item {
    width: 100%;
    float: none;
    clear: both;
  }

  .section .right304,
  .section .left632{
    display: block;
    float: none;
    width: 100%;
    margin: 0;
  }
}

/* Reviews */
#reviews-title {
    color: #5c5c5c;
    font-family: MisoBold;
    font-size: 32px;
    margin-top: 50px;
    padding-left: 12px;
}
#reviews { margin: 10px 0 10px 24px; }
#reviews p {
    color: #1c1c1c;
    margin-left: 0;
    margin-right: 10px;
}
#reviews .item {
    display: inline-block;
    vertical-align: top;
    width: 235px;
}
#reviews .q {
    font-size: 0.8em;
    font-style: italic;
    margin-bottom: 0;
    text-indent: -5px;
}
#reviews .cite {
    height: 45px;
    position: relative;
}
#reviews .small { height: 25px; }

/* Reviews/Sources */
#reviews cite {
    background: url('../images/reviews.png') no-repeat 0 0;
    display: block;
    height: 43px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    text-align: right;
    text-indent: 9999em;
    width: 155px;
}
#reviews .item:hover .smashingmagazine { background-position: -252px 0; }
#reviews .templatemonster {
    background-position: 0 -176px;
    height: 38px;
    width: 202px;
}
#reviews .item:hover .templatemonster { background-position: -252px -176px; }
#reviews .vandelaydesign {
    background-position: 0 -352px;
    height: 17px;
    width: 190px;
}
#reviews .item:hover .vandelaydesign { background-position: -252px -352px; }
#reviews .webdesigner {
    background-position: 0 -528px;
    height: 33px;
    width: 150px;
}
#reviews .item:hover .webdesigner { background-position: -252px -528px; }
#reviews .speckyboy {
    background-position: 0 -706px;
    width: 150px;
}
#reviews .item:hover .speckyboy { background-position: -252px -706px; }
#reviews .designmodo {
    background-position: 0 -880px;
    height: 32px;
    width: 152px;
}
#reviews .item:hover .designmodo { background-position: -252px -880px; }
#reviews .mightydeals {
    background-position: 0 -1057px;
    height: 45px;
    width: 103px;
}
#reviews .item:hover .mightydeals { background-position: -252px -1057px; }
#reviews .queness {
    background-position: 0 -1233px;
    height: 45px;
    width: 136px;
}
#reviews .item:hover .queness { background-position: -252px -1233px; }

/* search-form */
.search-form {
    margin: 30px 0 50px;
    max-width: 505px;
    width: 100%;
}
.search-form form {
    box-sizing: border-box;
    display: table;
    width: 100%;
}
.search-form input {
    box-sizing: border-box;
    color: #333;
    display: table-cell;
    font-size: 30px;
    padding: 8px 15px;
    vertical-align: top;
    width: 100%;
    -webkit-border-radius: 6px 0 0 6px;
       -moz-border-radius: 6px 0 0 6px;
            border-radius: 6px 0 0 6px;
}
.search-form .submit {
    display: table-cell;
    vertical-align: top;
    width: 59px;
}
.search-form button {
    background: rgb(51,152,182) url('../images/search.png') no-repeat center center;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    height: 52px;
    overflow: hidden;
    padding: 0;
    text-indent: -9999em;
    width: 59px;
    -webkit-border-radius: 0 6px 6px 0;
       -moz-border-radius: 0 6px 6px 0;
            border-radius: 0 6px 6px 0;
}
.search-form button:hover {
    background-color: rgb(99,180,202);
}
.search-form .info {
    padding: 11px 0 0 0;
    font-size: 14px;
}
.search-form .info:before {
    content: attr(data-info);
}

/* sections */
.sections {
    margin-top: 34px;
}
.sections li {
    font-family: MisoBold;
    font-size: 23px;
    line-height: 30px;
}
