.field-genereteproduct-category_id, .field-genereteproduct-producer_id{
    float: left;
    margin-right: 10px;
    width: 47%;
}

#content .expectation{
    margin: 5px;
    background-color: #CCC;
    border-color: #CCC;
    cursor: none;
}

#content .error{
    background-color: #F74545;
    border-color: #CCC;
    cursor: none;
}
#content .finished{
    background-color: #00A016;
    border-color: #018826;
    cursor: none;
}


#message ul b{
    margin-left: -20px;
}
#message ul p{
    margin: 5px 0 0px 0;
    padding: 0 0 0 10px;
}
#message ul p b{
    margin-left: -26px;
}
#message ul li{
    list-style: none;
    color: #FA2626;
    font-weight: bold;
}

.glyphicon{margin-right: 5px}

.view-list{
        float: right;
        width: 280px;
        font-weight: bold;
        color: #A0A0A0;
        margin-bottom: 10px;
}
.view-list a{
        float: left;
        margin: 0 5px 0;
}

.view-list a.active{
        
padding: 0px 3px;
        
color: #FFF;
        
background: #7DBDDD;
        
border-radius: 4px;
}

.view-list p{
        padding: 0;
        float: left;
}

.add-producer tr td:nth-child(2){}


.published{
        float: right;
        top: 69px;
        position: absolute;
        right: 21px;
        padding: 2px 0;
}
.published button:hover{
        background: #00A763;
}
.published button{
margin-top: -3px;
background: #5BDEB5;
color: #086F4F;
font-weight: bold;
border: 1px solid #55BB84;
}
.published button[value='2']{
        background: rgb(91, 216, 222);
        color: #053B2A;
        border: 1px solid #00B5BE;
}
.published button[value='2']:hover{
        background: #50BBC0;
        color: #fff;
}

.published button[value='3']{
        background: rgb(222, 91, 91);
        color: #F8F8F8;
        border: 1px solid #B66464;
}
.published button[value='3']:hover{
        background: #B00000;
        color: #FFF;
}

.published select option{
}
.published select{//Make inputs at least the height of their button counterpart (base line-height + padding + border)
        padding: @padding-base-vertical @padding-base-horizontal;//Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214    border: 1px solid @input-border;//Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
        height: 35px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 15px;
        color: #717171;
}

.form-control[name*='[id]'],
.form-control[name*='article']{
    padding: 4px;
    width: 57px;
}

#product-form-container{
    clear: right;
}