.position {
    position: relative;
    float: left;
    width: 154px;
    margin: 7px;
    min-height: 316px;
}

.cell .my-slide-menu{background: none;}

.my-slide-menu > ul > li > ul.down ul{display:none;}

.jquery-slide-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cell {
    border: 1px solid #cacaca;
    text-align: center;
    margin: 5px;
    float: left;
    border-radius: 16px;
    min-height: 310px;
    position: absolute;
    background-image: url("gradient.png");
    width: 142px;
    padding-bottom: 5px;
}

.my-slide-menu > ul > li.doun-list{display: none;}


.my-slide-menu > ul > li:first-child{
    height: 97px;
    padding-top: 10px;
    background: none;
    text-align: center;
}

.my-slide-menu > ul > li.down:after{
     content: "";
     display: block;
     background-image: url(right.png);
     height: 17px;
     background-position: 15px 16px;
     width: 17px;
     position: absolute;
     top: 6px;
     right: 4px;
}

.my-slide-menu > ul > li.down.up:after{
     transform: rotate(180deg);
}


.my-slide-menu > ul > li.down:hover:after{
        background-position: -18px 0;
}

.my-slide-menu > ul > li:first-child > a{
        display: list-item;
}

.my-slide-menu > ul > li a{height: 32px;padding-right: 18px;display: table-cell;vertical-align: middle;text-decoration: initial;cursor: pointer;}

.my-slide-menu > ul > li {
    background-image: url("menu_list.png");
    background-position: 0px -31px;
    height: 34px;
    width: 135px;
    margin: 4px 0;
    text-align: left;
    padding-left: 7px;
    font-size: 12px;
    position: relative;
 }
.my-slide-menu > ul > li ul{display:none;}
.my-slide-menu > ul > li:hover > ul{
        display: block;
        position: absolute;
        right: -150px;
        top: 3px;
        padding-left: 10px;
}

.my-slide-menu > ul > li > ul li.parent:after{
     content: "";
     display: block;
     background-image: url(right.png);
     height: 17px;
     background-position: 0px 34px;
     width: 17px;
     position: absolute;
     top: 6px;
     right: 4px;
     opacity: 0.2;
}

.my-slide-menu > ul > li ul li{
    background: #fff;
    color: #000;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 0 6px;
    width: 135px;
    position: relative;
}
.my-slide-menu > ul > li ul li.parent:hover ul{
    display: block;
    position: absolute;
    top: -1px;
    right: -149px;
}

.my-slide-menu > ul > li ul li:hover{
        color: #F00;
        border: 1px solid #ccc;
}

.my-slide-menu > ul > li.parent > ul li:hover > a{height:30px;color: #f00;}

.my-slide-menu > ul > li ul li:first-child{
        border-top: 1px solid #ccc;
        border-radius: 0 7px 0 0;
}
.my-slide-menu > ul > li ul li:first-child:hover{
        height: 31px;
}

.my-slide-menu > ul > li ul li.parent:first-child:hover{
    border-radius: 0;
    border-right: 0px;
}

.my-slide-menu > ul > li ul li.parent:hover > ul li:first-child{
    border-left: 0;
    padding-left: 7px;
}

:first-child

.my-slide-menu > ul > li ul li:first-child:hover a{
        height: 32px;
}
.my-slide-menu > ul > li ul li:last-child{
        border-bottom: 1px solid #ccc;
        border-radius: 0 0 7px 7px;
}


.my-slide-menu > ul > li:hover{background-position: 0px 33px;}
.my-slide-menu > ul > li.parent:after{
    content: "";
    display:block;
    background-image: url(right.png);
    height: 17px;
    background-position: 0 16px;
    width: 17px;
    position: absolute;
    top: 6px;
    right: 4px;
}
.my-slide-menu > ul > li.parent:hover:after{
    background-position: 0 0;
}

.my-slide-menu > ul > li:hover > a{
    color: #F00;
}
.my-slide-menu > ul > li:first-child:hover{
        border-bottom: 1px solid #ccc;
        height: 96px;
}

.my-slide-menu > ul li:first-child img{
    position: absolute;
    top: 37px;
    left: 28px;
}

.my-slide-menu > ul li:first-child h3{
    z-index: 260;
}
