body
{
        margin: 0;
        padding: 0;
        color: #555;
        font: normal 10pt Arial,Helvetica,sans-serif;
        background: #EFEFEF;
}

#page
{
        margin-top: 5px;
        margin-bottom: 5px;
        background: white;
        border: 1px solid #C9E0ED;
}

#header
{
        margin: 0;
        padding: 0;
        border-top: 3px solid #C9E0ED;
}

#content
{
        /* padding: 20px; */
}

#sidebar
{
        padding: 20px 20px 20px 0;
}

#footer
{
        padding: 10px;
        margin: 10px 20px;
        font-size: 0.8em;
        text-align: center;
        border-top: 1px solid #C9E0ED;
}

#logo
{
        padding: 10px 20px;
        font-size: 200%;
}

#mainmenu
{
        background: white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
        padding: 6px 20px 5px 20px;
        margin: 0px;
}

#mainmenu ul li
{
        display: inline;
}

#mainmenu ul li a
{
        color: #ffffff;
        background-color: transparent;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
        color: #6399cd;
        background-color: #EFF4FA;
        text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success
{
        padding: .8em;
        margin-bottom: 1em;
        border: 2px solid #ddd;
}

div.flash-error
{
        background: #FBE3E4;
        color: #8a1f11;
        border-color: #FBC2C4;
}

div.flash-notice
{
        background: #FFF6BF;
        color: #514721;
        border-color: #FFD324;
}

div.flash-success
{
        background: #E6EFC2;
        color: #264409;
        border-color: #C6D880;
}

div.flash-error a
{
        color: #8a1f11;
}

div.flash-notice a
{
        color: #514721;
}

div.flash-success a
{
        color: #264409;
}

div.form .rememberMe label
{
        display: inline;
}

div.view
{
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
        font-size: 0.9em;
        padding: 5px 20px;
}

div.breadcrumbs span
{
        font-weight: bold;
}

div.search-form
{
        padding: 10px;
        margin: 10px 0;
        background: #eee;
}

.portlet
{

}

.portlet-decoration
{
        padding: 3px 8px;
        background: #B7D6E7;
        border-left: 5px solid #6FACCF;
}

.portlet-title
{
        font-size: 12px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        color: #298dcd;
}

.portlet-content
{
        font-size: 0.9em;
        margin: 0 0 15px 0;
        padding: 5px 8px;
        background: #EFFDFF;
}

.portlet-content ul
{
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin: 0;
        padding: 0;
}

.portlet-content li
{
        padding: 2px 0 4px 0px;
}

.operations
{
        list-style-type: none;
        margin: 0;
        padding: 0;
}

.operations li
{
        padding-bottom: 2px;
}

.operations li a
{
        font: bold 12px Arial;
        color: #0066A4;
        display: block;
        padding: 2px 0 2px 8px;
        line-height: 15px;
        text-decoration: none;
}

.operations li a:visited
{
        color: #0066A4;
}

.operations li a:hover
{
        background: #80CFFF;
}

.form {
        padding-left: 37px;
}

.logo-view {
        width: 150px;
        height: 130px;
}

.image-view {
        height: 120px;
        width: 160px;
        float: left;
        border: 1px solid #CCC;
        margin: 5px;
        position: relative;
        box-shadow: 1px 1px 5px 0 #A2958A;
        border-radius: 6px;
}

table .image-view {
        height: 30px;
        width: 70px;
}

.image-view:hover {
        box-shadow: 3px 3px 5px 0 #333;
}

.delete-image {
        height: 18px;
        width: 18px;
        position: absolute;
        right: -7px;
        top: -6px;
        background-image: url("/images/view/delete-image.png");
        background-repeat: no-repeat;
        background-position: -19px -19px;
        cursor: pointer;
}

.delete-image:hover {
        background-position: -19px 1px;
}

.prod-pic .logo-view {
        margin: 25px auto 0;
}

.link-product[href] {
        display: block;
        position: relative;
        width: 153px;
        left: 1px;
}
.link-product[href]:hover p {
        color: #e9690b;
}

.block {
        display: block;
}
.none {
        display: none;
}

.filter-value {
        margin: 5px 0;
}
.active-filter, .clear-filter {
        border: 1px solid #CCC;
        float: left;
        margin: 2px 4px;
        padding: 0px 3px 0 3px;
        border-radius: 4px;
        background: #58B2E2;
        color: #FFF;
        cursor: pointer;
        font-weight: bold;
}

.dell-filter {
        background: url(../images/view/sprite.png) -77px -52px;
        width: 14px;
        height: 14px;
        float: right;
        margin: 3px 0px 0px 4px;
}

.active-filter:hover {
        color: #B51819;
}

.active-filter:hover .dell-filter {
        background-position: -92px -52px;
}

.filter-value .clear-filter {
        background: none;
        color: #7D7D7D;
}
.filter-value .clear-filter:hover {
        background: #B51819;
        color: #FFF;
        padding-right: 5px;
}

.total-product {
        display: inline-block;
        margin: 3px 0px 0px 5px;
}

.ui-menu li.ui-menu-item {
        cursor: pointer;
}

.ui-menu li.ui-menu-item a.ui-state-focus {
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F00), color-stop(100%, #AA2422));
}

.left-sidebar li ul {
        position: relative;
}

.left-sidebar li {
        background: #EDEDED;
        border: 1px solid #CCC;
}
.left-sidebar ul {
        /*background-color: #CCC;*/
}

.panel.panel-warning {
        border: none;
}

ul.nav-stacked > li + li {
        margin: 0;
}

.left-sidebar ul li:first-child {
        border-left: 1px solid #CCC;
        border-top: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-radius: 3px 3px 0 0;
        border-bottom: 1px solid #ccc;
}
.left-sidebar ul li:last-child {
        /* border-left: 1px solid #CCC; */
        /* border-bottom: 1px solid #CCC; */
        border-right: 1px solid #CCC;
        border-radius: 0 0 3px 3px;
}

.left-sidebar .panel {
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.left-sidebar ul li a {
        color: #333;
        border: 0;
}
.left-sidebar ul li {
        border: 0;
        border-top: 1px solid #CCC;
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #ccc;
}

.left-sidebar ul li:hover a {
        background: #fff;
        color: #000;
}

.left-sidebar ul li:hover a:first-child {
        border-radius: 3px 3px 0 0;
}
.left-sidebar ul li:hover a:last-child {
        border-radius: 0 0 3px 3px ;
}



.left-sidebar ul > li > a {
        padding: 15px;
        font-size: 14px;
        height: 44px;
        line-height: 14px;
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}


.kv-sidenav li a::after {
        content: "";
        background-image: url("/images/view/arrow.png");
        height: 14px;
        background-repeat: no-repeat;
        width: 8px;
        position: absolute;
        right: 25px;
        top: 15px;
}

a span.closed {
        background: url(../images/view/arrow.png) no-repeat 0px 0px;
        height: 11px;
        width: 7px;
        margin-top: 6px;
}

a span.closed i {
        display: none;
}


ul.nav-pills > li.active a {
        background-color: #FFF;
        color: #000;
}

ul.nav-pills > li.active > a:focus {
        color: #000;
        background-color: #F4F4F4;
}

ul.nav-pills > li.active > a, ul.nav-pills > li.active > a:hover, ul.nav-pills > li.active > a:focus {
        color: #000;
        background-color: #FFF;
}

ul.nav-pills li.active li {
        border-radius: 0;
        border-left: 0px;
        border-right: 0px;
}
#content .left-sidebar .news h3 {
        font-size: 24px;
        margin: 60px 0 0 0;
        font-weight: normal;
        line-height: 18px;
}
#content .left-sidebar h3 {
        color: #333;
        display: block;
        font-size: 24px;
        padding: 0px 0 0px 2px;
        border-bottom: #7DBDDD dotted 0px;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
        margin: 24px 0 0 2px;
}

#content .page {
        /* margin: 10px 0 0; */
}

.page-body {
        font-size: 16px;
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
        text-align: left;
}

.page-body > .typography p{
        margin-top: 0;
}

.page-body a,
.page-body a:visited, 
.page-body a.visited {
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
        text-decoration: none;
        color: #32a1d0;
        font-size: 12px;
}

.page-body a[href]:hover{
        color:#e9690b;
        text-decoration: underline;
        color: #fff;
}

.page-body P {
        padding: 0;
        margin: 20px 0;
        width: 100%;
        line-height: 1.4;
        font-size:14px;
}

ul.breadcrumb {
        font-size: 12px;
        background: none;
        padding: 8px 0;
}

ul.breadcrumb a {
        color: #32A1D0;
}

.image-preview {
        margin-right: 8px;
        width: 50px;
        height: auto;
}

.image-hidden {
        display: none
}

.image-full div {
        margin-right: 8px;
        width: 324px;
        height: 324px;
}

.image-full {
        display: none;
}

.image-full.active {
        display: block;
}

.image-product {
        float: left;
        width: 334px;
}
.portfolio-area li{}

.product {
        float: left;
        min-height: 253px;
        width: 380px;
        margin-left: 3px;
}

.product .price {
        color: #EA731B;
        text-align: left;
        float: none;
        font-size: 24px;
        font-weight: bolder;
        font-family: 'Exo 2', sans-serif;
        padding: 0;
        margin: 10px 0 13px;
}

.product .articul {
        background: #f5e28f;
        padding: 8px 2px;
        width: 192px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-top: 3px;
        border-radius: 4px;
        float: left;
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.product .check {
        min-height: 60px;
        border-radius: 4px;
        padding-left: 20px;
        margin: 12px 0 20px;
        position: relative;
}

.product .special-price {
        width: 208px;
        float: left;
        color: #949494;
        margin-top: 10px;
        margin-right: 9px;
        font-family: 'Exo 2', sans-serif;
        font-size: 15px;
}

.check-ok.is {
        background: #9ccc8a;
        text-transform: uppercase;
        color: #FFF;
}
.product .check-ok.none{
        color: #fff;
        display: block;
}
.check-ok {
        width: 174px;
        text-align: center;
        color: #FFF;
        background-color: #ccc;
        font-size: 14px;
        padding: 8px 10px;
        border-radius: 4px;
        float: right;
        display: block;
        position: relative;
        margin-top: 3px;
}

.info-price{
        clear: both;
        margin: 19px 0;
}

#info::after,
.info-price::after{
        content: '';
        display: block;
        clear:both;
}
.page-body .info-price > button, .page-body .info-price a{
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 4px 10px;
        float: left;
        border-radius: 4px;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        width: 193px;
}
.page-body .info-price > button:hover{
        background:linear-gradient( to bottom, #FAD549 0%, #F2A964 100% );
}
.info-price.spets > button{
        background: #FAD549;
}
.info-price.max > button{
        background: #ea731b;
}

.info-price .price-type{
        color: #ea731b;
        float: right;
        width: 169px;
        padding: 13px 25px 0 0px;
        text-align: right;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Exo 2', sans-serif;
}
.for-buy > .bottom:before, .for-buy > .buy-button:before {
        content:'';
        display:block;
        background: url('/images/view/cart.png') 0 0 no-repeat;
        position:absolute;
        height: 15px;
        width: 18px;
        top: 6px;
        left: 30px;
}

.bottom {
        box-shadow: inset 0px 1px 0px 0px #ffe97d;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fccb68), color-stop(1, #ed8200) );
        background: -moz-linear-gradient( center top, #fccb68 5%, #ed8200 100% );
        background-color: #fccb68;
        border-radius: 4px;
        text-indent: 0px;
        border: 1px solid #ffb700;
        color: #ffffff !important;
        text-decoration: none !important;
        text-align: left;
        text-shadow: 1px 1px 0px #cc9f52;
        padding: 2px 12px 0 51px;
        float: right;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        width: 176px;
        height: 29px;
        font-size: 18px;
        font-family: Arial, 'Arial Unicode MS';
        font-weight: bold;
        position:relative;
}

.bottom.basket:hover {
        color: #fff;
        text-decoration: none;
}

.bottom.basket {
        font-size: 90%;
        color: #fff;
        padding: 7px 0;
        text-align: center;
        padding: 7px;
}
.modal-content {
        position: relative;
}
.modal .modal-dialog {
        width: 550px
}
.modal-content .modal-header {
        border: none;
        float: right;
        position: absolute;
        right: 0;
}
.modal-content .close {
        background: url(../images/view/fancybox.png);
        background-repeat: no-repeat;
        background-position: -40px 3px;
        width: 30px;
        height: 31px;
        border: none;
        opacity: 1;
        position: absolute;
        right: -15px;
        top: -15px;
        font-size: 0;
}

.modal-dialog .modal-body {
        padding: 20px 30px;
}

.modal-content .close:hover {
        opacity: 1;
}

.modal-content .continue {
        margin: 20px 0;
        padding: 0;
        color: #BBB;
        
        font-size: 12px;
        display: block;
}


#content .modal-dialog {
        transform: translate(0, 50%) !important;
        -ms-transform: translate(0, 50%) !important;
        /* IE 9 */
        -webkit-transform: translate(0, 50%) !important;
        /* Safari and Chrome */
        height: 10%;
}

.for-buy .bottom:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed8200), color-stop(1, #fccb68) );
        background: -moz-linear-gradient( center top, #ed8200 5%, #fccb68 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8200', endColorstr='#fccb68');
        background-color: #ed8200;
}

.buy-button {
        background: rgba(244, 67, 54,1);
        border-radius: 4px;
        text-indent: 0;
        color: #ffffff !important;
        text-decoration: none !important;
        text-align: left;
        padding: 2px 12px 0 51px;
        float: right;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        width: 176px;
        height: 29px;
        font-size: 18px;
        font-family: Arial, 'Arial Unicode MS';
        font-weight: bold;
        position:relative;
}

.buy-button:hover {
        opacity: 0.9;
}

.for-buy {
        margin: 5px 0 12px 1px;
}

.for-buy .amount {
        float: left;
}
.for-buy .amount .add-delete {
}
.for-buy .amount input[type="text"] {
        width: 30px;
        background: #E8E8E8 url(../images/view/backgrounds.png) repeat-x;
        background-position: 0 -40px;
        text-decoration: none;
        text-align: center;
        height: 30px;
        padding: 4px 2px;
        color: #3D5166;
        font-size: 13px;
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
        font-weight: normal;
        font-style: normal;
        text-shadow: none;
        border-radius: 4px;
        border: 1px solid #B9C2CB;
        margin: 4px;
        float: left;
}
.for-buy .amount .add-delete {
        float: left;
        width: 15px;
        height: 28px;
}
.for-buy .amount .add-delete div {
        background: url(../images/view/quantity-controls.png) repeat-x;
        height: 14px;
        background-position: -2px 0;
        width: 17px;
        clear: both;
        padding: 0;
        cursor: pointer;
}

.for-buy .amount {
        width: 114px;
}
.for-buy::after,
.product .check::after,
.for-buy .amount::after{
        content: '';
        display: block;
        clear:both;
}

.for-buy .amount .add-delete .add {
        margin-bottom: 2px;
        margin-top: 4px;
        margin-left: -1px;
        float: left;
}
.for-buy .amount .add-delete .remuve {
        background-position: -19px 0px;
}

.kol-vo {
        display: inline-block;
        float: left;
        font-size: 16px;
        line-height: 38px;
        color: #666;
        margin-right: 1px;
}

#info {
        position: relative;
        left: -20px;
        height: 183px;
        font-size: 12px;
        width: 380px;
        margin-top: 23px;
}

#info a{
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
        text-decoration: initial;
        color: #32a1d0;
}
.store_info_block {
        width: 196px;
        position: absolute;
        height: 130px;
}
.store_info_block.left {
        margin-left: 15px;
        float: right;
        right: -45px;
        width: 223px;
}
.store_info_block.down {
        bottom: 0;
        height: 58px;
        padding-top: 12px;
}

#info .detail_link {
        position: absolute;
        bottom: 0;
}

#info .detail_info {
        margin-bottom: 10px;
}

#info .down .detail_link {
        position: relative;
        margin-bottom: 12px;
}

.detail_info span {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.detail_info span.green {
        color: #3B6;
        font-size: 13px;
        font-weight: bold;
}

.delivery_cost {
        margin-top: 10px;
}
.delivery_cost .store_item {
        margin-top: 6px;
}


.store_info_block .store_item {
        line-height: 1;
        margin-bottom: 8px;
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.store_info_block .store_item span {
        margin: 0 3px;
}
.store_info_block .store_item div {
        width: 39px;
        height: 9px;
        float: left;
        margin-top: 3px;
        background: url('../images/view/avail.png') no-repeat;
}
.store_not_in_stock {
}
.store_info_block .store_item .store_in_stock {
        background-position: 0px -9px;
}

.store_info_block .store_item span.store_info {
        font-size: 10px;
        color: #999;
        margin: 0px 0 4px 0;
        padding: 0;
        line-height: 1.7;
}

.wholesale-prices {
        border: none;
        background: none;
        display: inline;
        font-size: 12px;
        line-height: 1.3;
        color: #32A1D0;
        text-decoration: underline;
        padding: 0;
}

.wholesale table,
.wholesale p span,
.wholesale p {
        color: #000;
        text-decoration: none;
}
.wholesale p {
        color: #000;
        text-decoration: none;
        font-size: 13px;
        margin: 10px 0;
}

.list-block {
        width: 25%;
        float: left;
        margin: 2px 0;
}
.list-block + div[style='clear: both'] {
        margin-bottom: 15px;
}

.list-block a {
        color : #32a1d0;
}

#for-serch {
        float: right;
}
#for-serch .serch-block {
        FLOAT: left;
        font-size: 12px;
        /*margin-left: 10px;*/
        line-height: 0;
        margin-top: 10px;
}

#filter-model {
        height: 18px;
        
        /* padding: 11px; */
        /* margin: 8px 0px 0 0; */
        line-height: normal;
}

.selection-model {
        height: 27px;
        padding: 5px;
        font-size: 12px;
        line-height: 0;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 6px;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: bold;
        background-color: #4C4C4B;
}

#ui-id-2 {
        width: 177px !important;
        border-radius: 0 0 5px 5px;
        margin-top: -1px;
        border-top: none;
        border-color: #ccc;
}

.field-product-price, .field-product-article {
        width: 46%;
        float: left;
}

.list-product {
        float: left;
        width: 24%;
        margin: 0 4px;
}

.field-product-article {
        float: right;
}

td.model-btn {
        vertical-align: top;
}

.required .form-label span {
        display: block;
        color: red;
}

.serch-block select, .serch-block input {
        height: 27px;
        border-radius: 4px;
        margin-right: 3px;
        padding-left: 3px;
        width: 135px;
}

input#filter-model {
        height: 29px;
}

#block-summary {
        height: 20px;
        margin-bottom: 8px;
}

div#block-summary .summary {
        float: right;
        color: #000000;
        margin-right: 33px;
}

#basket-produkt {
        border: 1px solid #DDDDDD;
        border-radius: 11px;
        margin-bottom: 10px;
}

#basket-produkt .wrapper {
        width: 100%;
        position: static;
        border: 4px solid #FFF;
        border-radius: 10px;
        padding: 5px 15px;
        background-color: #4C4C4B;
}

.basket-header {
        color: #F8BE33;
        font-weight: bold;
}

#basket-produkt th,
#basket-produkt td {
        background-color: #4C4C4B;
        
        color: #FFFFFF;
        font-size: 12px;
}

#basket-produkt .td-del a {
        background: url('../images/view/delete-image.png') no-repeat;
        background-position: -19px -19px;
        height: 0px;
        padding: 0px 11px;
}

#basket-produkt .td-del a:hover {
        background-position: -19px 2px;
}

#basket-produkt .td-name {
        width: 130px;
        text-align: center;
}

#basket-produkt tr td {
        background: url('../images/view/othermenu_line.png') #4C4C4B;
        background-repeat: repeat-x;


}

#basket-produkt .info td {
        padding: 5px 0;
}

#basket-produkt input {
        color: #000
}
#contact-info {
        margin-bottom: 17px;
        border: 1px solid #ccc;
        float: left;
        width: 49%;
        padding: 10px;
        border-radius: 11px;
        background: #e5e5e5;
        /* Old browsers */
        background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 31%, #ffffff 99%, #f3f3f3 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(31%,#ffffff), color-stop(99%,#ffffff), color-stop(100%,#f3f3f3));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 31%,#ffffff 99%,#f3f3f3 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 31%,#ffffff 99%,#f3f3f3 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 31%,#ffffff 99%,#f3f3f3 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 31%,#ffffff 99%,#f3f3f3 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f3f3f3',GradientType=0 );
        /* IE6-9 */
        padding-top: 10px;
        position: relative;
}

.error-payment {
        color: #a94442;
}

.payment_method_label {
        font-weight: bold;
}
.op_rounded_content {
        height: 188px;
}
#contact-info .payment_inner input[type='radio'] {
        margin: 4px 5px 0 0;
}
.payment_inner div {
        margin: 0 0 10px 8px;
}
.payment_inner img {
        height: 18px;
}
#contact-info .payment_inner label {
        margin: 0;
        font-weight: normal;
        width: 294px;
}

#contact-info input,
#contact-info select {
        
        height: 26px;
        padding: 2px 3px 0 6px;
        background-color: #F9FAFB;
        font-size: 13px;
        width: 175px;
}
#contact-info .error-order{
        height: 27px;
        display: table-cell;
        vertical-align: middle;
}
#contact-info .error-order .help-block{
        margin: 0;
}
.error-order {
        line-height: 1;
        
        font-size: 11px;
}

#contact-info .form-group {
        width: 100%;
}

#contact-info .form-input {
        float: left;
        width: 100%;
        margin-right: 5px;
}

.cloud {
        position: absolute;
        border: 1px solid #444;
        top: -34px;
        left: 5%;
        padding: 7px 10px;
        color: #fff;
        border-radius: 8px;
        box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
        background: #6e6e6e;
        /* Old browsers */
        background:
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        -moz-linear-gradient(top, #6e6e6e 0%, #4b4b4b 74%, #4b4b4b 100%);
        /* FF3.6+ */
        background:
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6e6e6e), color-stop(74%,#4b4b4b), color-stop(100%,#4b4b4b));
        /* Chrome,Safari4+ */
        background:
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        -webkit-linear-gradient(top, #6e6e6e 0%,#4b4b4b 74%,#4b4b4b 100%);
        /* Chrome10+,Safari5.1+ */
        background:
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        -o-linear-gradient(top, #6e6e6e 0%,#4b4b4b 74%,#4b4b4b 100%);
        /* Opera 11.10+ */
        background:
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        -ms-linear-gradient(top, #6e6e6e 0%,#4b4b4b 74%,#4b4b4b 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #6e6e6e 0%,#4b4b4b 74%,#4b4b4b 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6e', endColorstr='#4b4b4b',GradientType=0 );
        /* IE6-9 */
}

.cloud .tail {
        
        position: absolute;
        bottom: -21px;
        left: 41%;
        border: 10px solid transparent;
        border-top: 14px solid #4B4B4B;
}

.cloud span {
}

#contact-info .description {
        color: #808080;
        font-size: 10px;
}

#contact-info .description p {
        margin: 0;
        padding: 0;
}
#contact-info .modal-radio.line {
        border-top: 1px solid #ccc;
        padding-top: 10px;
        width: 100%;
}
#contact-info label {
        line-height: 1.3;
        margin-bottom: 10px;
}

#contact-info input[type=radio] {
        height: 12px;
        margin-top: 0px;
        width: 13px;
        float: left;
}

.modal-radio span {
        display: block;
        width: 94%;
        margin-left: 20px;
}

.right#contact-info {
        float: right;
}

form#user {
        padding: 0;
        margin-top: 50px;
        background-color: #fff;
        border: none;
}

#contact-info.comment {
        width: 100%;
        margin-top: 52px;
}

.comment th {
        text-align: right;
}
.comment td {
        text-align: right;
        color: #000;
}
.comment td.put-summ {
        font-weight: bold;
}
#contact-info.comment input {
        height: 10px;
        width: 10px;
}

.basket_but_link .basket_but {
        background: url('../images/view/button_paypal.png');
        background-repeat: no-repeat;
        padding: 5px;
        text-align: center;
}

.basket_but_link .basket_but:hover {
        background-position: 0 -36px;
}

.basket_but_link {
        text-decoration: none;
}

#basket-produkt td h1 {
        color: #fff
}

.sort-block#basket-produkt td {
        
        background-image: none;
}

.glyphicon {
        margin-right: 5px;
}

.input-group-btn a.kv-fileinput-upload {
        color: #fff;
}

.display-none {
        display: none;
}

.floatleft {
        float: left
}

#tree-producer {
}
#tree-producer li ul {
        position: relative;
        background: none;
}

.filter ul.filter-ul li {
        border: none;
        background-color: #fff;
}

.model-list div {
        float: left;
        margin: 4px;
        width: 160px;
}
.model-list li {
        list-style: none;
        font-weight: bold;
}

.categoryTitle {
        border-bottom: 2px #A0C34B dashed;
        cursor: pointer;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10px;
        display: inline-block;
        line-height: 1.1;
        display: table;
}

.searchCount {
        color: #A0C34B;
}

.browse-view {

}

#content .browse-view h1 {
        margin: 10px 0 0;
        color: #333;
        font-size: 28px;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
}


.news p {
        margin: 0;
        padding: 0;
}
.news a[href]:hover{
      color: #32a1d0;
      text-decoration: initial;
}
.news a[href] {
        font-family: 'Exo 2', sans-serif;
        font-size: 12px;
        color: #32a1d0;
        text-align: center;
        text-decoration: underline;
        line-height: 18px;
        margin-left: 6px;
        /* padding-top: 32px; */
}
a.news-archive[href] {
        margin-top: 23px;
        display: block;
        text-align: left;
}
.date-new {
        font-size: 90%;
        width: 67px;
        color: #999999;
        margin: 5px 0 5px 5px;
        font-family: 'Exo 2', sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #999999;
}
.new-block {
        margin-top: 29px;
}
.short-new {
        padding: 11px 4px 14px 4px;
}
.read-more {
        text-align: right;
        padding-right: 30px;
}
.info-site {
        color: #c1c1c1;
        text-align: justify;
        font-size: 13px;
        float: left;
        width: 880px;
        line-height: 1.4;
}
.regions_phone:hover {
        cursor: pointer;
        background-color: #fecc37;
        transition-duration: 0.1s;
}
.regions_phone {
        font-size: 12px;
        color: #fff;
        background-color: #f3971b;
        border-radius: 5px;
        padding: 7px 10px 5px 7px;
        line-height: 1.2;
        text-align: center;
        font-weight: bold;
        transition-duration: 0.1s;
        width: 175px;
        height: 46px;
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.regions_phone:hover .region_icon {
        background-position: 0 -35px;
}
.region_icon {
        background: url('/images/view/phone_icon_wh.png') 0 0 no-repeat;
        width: 32px;
        height: 34px;
        float: left;
}

.region_icon div {
}

#form_landing {
        padding: 10px 0;
        text-align: center;
}
#form_landing .error-message {
        color: red;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
}
#form_landing span {
        margin: 10px 0 14px;
        display: block;
        color: #32a1d0;
        font-size: 14px;
}
#form_landing input {
        margin: 10px 0;
        text-align: center;
        width: 220px;
        height: 46px;
        color: #333;
        font-size: 14px;
}
#form_landing input.error {
        border: 1px solid red;
        box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
#form_send {
        border: 2px solid #32a1d0;
        border-radius: 22px;
        font-family: 'Montserrat',sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        padding: 8px 24px;
        display: block;
        width: 220px;
        margin: 0 auto;
}
#callBack .modal-dialog {
        width: 281px;
        margin-top: 22%;
}

#form_message {
        display: block;
}
#form_message div {
        margin: 40% 0;
        text-align: center;
        color: #32a1d0;
        font-size: 16px;
        font-weight: bold;
}
.logo-payment {
        width: 90px;
        height: 30px;
}

.error-payment {
        color: #a94442;
}

.add-producer thead{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 2;
        color: #626262;
}
.add-producer tr td:nth-child(2){
        width: 200px;
        padding: 0;
}
.add-producer tr td:nth-child(1){
        width: 700px;
        padding: 0;
}

.add-producer tr td .input-group{
    margin-bottom: 25px;
}

.add-producer tbody td div[id]{
        background: #F5F5F5;
        border: 1px solid #ccc;
        border-radius: 4px;
        float: left;
        margin: 5px 0 0 6px;
        padding: 3px 6px 3px 17px;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.8;
        font-size: 14px;
        position:relative;
}
.add-producer tbody td div[id]::after{
        content:'x';
        display:block;
        position:absolute;
        top:2px;
        left: 5px;
        cursor: pointer;
}
.add-producer tbody td div[id]::after:hover{}

.add-producer thead tr{
        background: #E6E6E6;
}
.add-producer .btn-default{
margin-top: -12px;}
.add-producer .form-group{
        width: 200px;
        margin-top: 10px;
        float: right;
}

a.callbackkiller{display: none !important;}

#description {
        margin: 20px 0;
}

