/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: local('Exo 2 Thin'), local('Exo2-Thin'), url(https://fonts.gstatic.com/s/exo2/v3/6eWVsQBg_DHn5C7yJ6Q_BfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: local('Exo 2 Thin'), local('Exo2-Thin'), url(https://fonts.gstatic.com/s/exo2/v3/fbGcG9CFbD6xJHRnV_W4B_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 100;
  src: local('Exo 2 Thin'), local('Exo2-Thin'), url(https://fonts.gstatic.com/s/exo2/v3/ADiRusfMayFwcntf9MXsGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2 Light'), local('Exo2-Light'), url(https://fonts.gstatic.com/s/exo2/v3/ZvqiGg27-1PW7JHPGOnJEBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2 Light'), local('Exo2-Light'), url(https://fonts.gstatic.com/s/exo2/v3/-u8MnRNZbXng_riSEM1grRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  src: local('Exo 2 Light'), local('Exo2-Light'), url(https://fonts.gstatic.com/s/exo2/v3/TZlHHgxEfHXA7uKM1eaCjfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v3/pEbpp8gu02JrI5SDG9jj6g.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v3/sZoRRDfBcJL9e6dHdMU_Tg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(https://fonts.gstatic.com/s/exo2/v3/-A4eIjQkAwKL411pgtQ4VA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url(https://fonts.gstatic.com/s/exo2/v3/LFe3mB-q6jNXyAcQ2iPxARTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url(https://fonts.gstatic.com/s/exo2/v3/GGsKokbvGBQnZ182Vk7qiRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url(https://fonts.gstatic.com/s/exo2/v3/0BGKjb5TxeNM_vPrpoWDWPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


.kartap-info{
    color: #7DBDDD;
    text-decoration: none;
}
a[href]:hover{
    color: #F5C29D;
}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; /* zoom:1 ; */ }
mark, rp, rt, ruby, summary, time{ display: inline }
.clear-fix:after, .clear, header:after, section:after, #main_nav:after {clear:both;}
.clear-fix:before, .clear-fix:after, header:before, header:after, section:before, section:after, #main_nav:before, #main_nav:after {content:"";display:table;}
/* Left & Right alignment */

.left { float:left;}
.right { float:right;}
.wrapper {width:984px; margin:0 auto;position:relative;padding:0 10px;}

.wrapper .breadcrumb{margin: 0;padding: 12px 0 0 1px;font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;}

.wrapper .breadcrumb > li + li::before{
	content: '\\';
	color: #32A1D0;
	padding: 0;
	margin-right: 3px;
}
/* Global properties ======================================================== */
html{min-height:100%;height:100%;min-width:1000px;}
body{ background: #fff; border:0; padding:0 0 1px 0;margin:0; /* font:12px Tahoma, Helvetica, sans-serif; */ /* line-height:18px; */min-height:100%;position:relative;color: #303F50;}


/* Global Structure ============================================================= */

/* ============================= main layout ====================== */

a{ color:#333; text-decoration: underline; outline:none}
a:hover{ text-decoration: none}
a img{outline:none;border:none;}
h1{color:#333; font-weight:bold; font-size:24px; line-height:1em; padding:0; margin:0;margin-bottom:15px;}
h2{ font-size:20px;line-height:1em; color:#333; padding:0; margin-bottom:15px;font-weight:bold; }
h3{ font-size:16px;line-height:1em; color:#333; font-weight:bold; padding:0; margin-bottom:15px;}
h4, h5 {color:#333; font-size:14px;margin:25px 0  10px;}
p{ margin:0; padding-bottom:12px;}
*+h3, *+h4 {margin-top:25px;}

h1 small {color:#333;font-weight:normal;}
.gray{color:#999;}
.red{color:#ff0000;}
/* ============================= header ====================== */
i.ico {display: inline-block;background: url(../images/view/sprite.png);}
i.ico.ico-enter {background-position: -75px top;width:10px;height:11px;}
i.ico.ico-registr{background-position: -86px top;width:9px;height:11px;}

header{}
.top-menu-case{ 
height:34px;
background: #eee;
background: -moz-linear-gradient(top, #f4f4f4, #dee3e6);
background: -webkit-gradient(linear, left top, left bottom, 
			color-stop(0%,#f4f4f4), color-stop(100%,#dee3e6));
background: -webkit-linear-gradient(top, #f4f4f4, #dee3e6);
background: -o-linear-gradient(top, #f4f4f4, #dee3e6);
background: -ms-linear-gradient(top, #f4f4f4, #dee3e6); 
background: linear-gradient(top, #f4f4f4, #dee3e6);
}
.top-menu {margin: 0 0 0 230px;}
.top-menu li{list-style-type: none;float:left;border-left:1px #dce6ed solid;}
.top-menu li a{display:block;padding:0 15px;font-size:12px;text-decoration:none;line-height:34px;}
.top-menu li:first-child{border:none;}

.user-panel{float:right;text-align:right;padding-top:5px;}
.user-panel i{margin-right:4px;vertical-align:middle;}
.user-panel a{color:#AA2422;font-size:10px;cursor:pointer;margin-right:10px;}
/**/
.top-panel {overflow:hidden;height:130px;}
.logo{float:left;}
.logo a{display:block;text-decoration:none;text-align:center;line-height:12px;}
.logo span{ color:#a40000; font-size:9px;}

.bl-cen {float:left;width:400px;margin:20px 0 0 80px;}
.bl-cen  .phones{color:#900000;font: 30px/25px Arial;}
.bl-cen  .phones small{font-size: 18px;}
.bl-cen .times{color:#666;font-size:13px;}

.search {position:relative;margin:10px 0;width:370px;height:34px;}
.search i{display:block;position:absolute;top:3px; right:3px;width:20px;height:21px;background: url(../images/view/sprite.png) -45px top;}
.search input{float:left;}
.search input.inp{height:12px;padding:3px;border:1px #bec3c7 solid;box-shadow:inset 1px 1px 4px #ccc;width:320px;height:34px;}
.search input.btn-search{border-radius: 0;height:34px;width:34px;border:6px #AA2422 solid;background: #AA2422 url(../images/view/sprite.png) left top;cursor:pointer;}

.bl-rig {padding-top:24px;}
.bl-rig-links {width: 178px;float:left;}
.bl-rig-links a{font-size:12px;color:#AA2422;text-decoration:none;display: block;margin-bottom:3px;}
.bl-rig-links a span{border-bottom: 1px #AA2422 dotted;}
.bl-rig-links a i{display: inline-block;background-image: url(../images/view/sprite.png);width:16px;height:16px; margin-right:8px;vertical-align:bottom;}
.bl-rig-links a i.ico-online{background-position: -43px top;}
.bl-rig-links a i.ico-phone{background-position: -60px top;width:14px;margin:0 9px 0 1px;}


.btn2{cursor: pointer;display:block;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background:#AA2422;color:#fff;text-decoration:none;text-align:center;height:40px;padding:5px 0;border:none;width:100%;margin-top:5px;}

.main-menu{width:100%;border:none;border-bottom:4px #900000 solid;background:#eeeeee;height:46px;border-top:1px #900000 solid;}
.main-menu table{width:100%;border:none;}
.main-menu td{border-right:1px #900000 solid;background:#eeeeee;padding:0;margin:0;}
.main-menu td:first-child{border-left:1px #900000 solid;}
.main-menu td a{display: block;color:#666666;font-size:15px;text-align:center;padding:12px 0;text-decoration:none;}
.main-menu td a.active{background: #ff0000; color:#fff;}

/*carusel*/
.carusel{border: 1px #999999 solid;}

/*start-three-blocks*/
.start-three-blocks{overflow:hidden;margin-top:18px;}
.start-three-blocks ul{overflow:hidden;margin:0;padding:0;}
.start-three-blocks ul li{list-style-type:none;width:300px; height:84px;float:left; background: #ca1a24; color:#fff; font-size:13px; text-transform: uppercase;position:relative;margin:0;padding:16px 0 0 17px;}
.start-three-blocks ul li:first-child{margin-right:17px;}
.start-three-blocks ul li.last{float:right;}
.start-three-blocks ul li div{font-size:21px; font-weight: bold;line-height:22px;margin-bottom:2px;}
.start-three-blocks ul li div.feat{font-size:50px;line-height:44px;}
.start-three-blocks ul li i{display: block;position:absolute;background-image: url(../images/view/sprite.png);}
.start-three-blocks ul li i.feat01{width:45px;height:46px;background-position: left -77px;top:24px;right:50px}
.start-three-blocks ul li i.feat02{width:70px;height:34px;background-position: -46px -77px;top:25px;right:40px;}
.start-three-blocks ul li i.feat03{width:48px;height:50px;background-position: -115px -77px;top:17px;right:45px}

/*carusel tovar on start*/
.carusel-tovar{overflow:hidden;margin-top: 12px;position:relative;}
.carusel-tovar > h3{
    margin: 10px 0 0;
    color: #333;
    font-size: 28px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
}
.carusel-tovar-nav {position:absolute;}
.carusel-tovar .carusel-tovar-nav {position:absolute;right:0;top:5px;}
.carusel-tovar-nav a{position:relative;display: block;width:41px;height:41px;background: #f3f4f6;margin-left:5px;float:left;}
.carusel-tovar-nav a  i{display: block;width:7px;height:13px;background-image: url(../images/view/sprite.png); position:absolute;top:13px;left:17px;}
.carusel-tovar-nav a.nav-prev i{background-position:-110px top;}
.carusel-tovar-nav a.nav-next i{background-position: -101px top;}

/*products-list*/
.products-list{overflow:hidden;padding:0;}
.products-list li{
    list-style-type: none;
    float: left;
    width: 167px;
    height: 270px;
    padding: 0;
    margin-right: 14px;
    margin-bottom: 20px;
}
.products-list a > p{
    font-weight: normal;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    padding: 0 5px;
    width: 176px;
    position: absolute;
    top: 0;
    text-align: center;
    color: #32a1d0;
    text-decoration: underline;
    margin-left: -12px;
}
.products-list h3 a{color:#666;font-size:12px;text-decoration: none;}
.products-list .prod-pic{height:180px;padding:20px 0 0;text-align: center;width: 153px;}
.products-list .prod-pic img{max-height:135px;max-width:160px;}
.products-list .prod-price{
    float: Left;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    top: 3px;
    z-index: -1;
}

.basket-product{
        position: absolute;
        width: 154px;
        top: 189px;
}

.basket-product span[title]{
        font-size: 10px;
        color: #b0b0b0;
        float: right;
        width: 70px;
        text-align: right;
        margin-top: 6px;
}

.add-prod-link{float:right;width:110px;background:#b51819;height:30px;padding:3px;text-align:center;color:#fff;display: block;font-size:12px;text-decoration:none;border-top: 1px #ccc solid;border-left: 1px #ccc solid;position: relative;}
.add-prod-link.input{
    background: #22AA37;
}
/*sort-block*/
.sort-block {border: 1px #CCC solid;margin-bottom: 5px;display: table;vertical-align: middle;width: 100%;}
.sort-block p{
    margin: 13px 13px 0px;
    font-weight: bold;
}
/*.sort-group{width: 122px;float:left;}*/
.sort-group a{display:block;width:16px;height:16px;padding:22px 21px 21px 22px;text-align:center;position:relative;float:left;border-right:1px #ccc solid;cursor: pointer;}
.sort-group i{display:block;width: 17px; height: 16px; margin: 0 auto; background-image: url(../images/view/sprite.png);}

.sort-group i.sort-01-ico{background-position: -79px -17px;}
.sort-group.active i.sort-01-ico{background-position: -79px -35px;}


.sort-group i.sort-02-ico{background-position: -97px -17px;}
.sort-group.active i.sort-02-ico{background-position: -97px -35px;}

.sort-ul {font-size: 12px;width: 104px;}
.sort-ul span{padding-right:5px;}
/*-------------------*Filter*---------------------*/
.filter {
	float:left;
	width:230px;
	overflow: hidden;
	color:#333;
        margin-top: 20px;
}	
.filter-group{border: 1px solid #CCC;}
.filter-group .filter-group-name{
        padding:3px 15px;
        background: #ccc;
        font-weight: bold;
}
.filter-group-content {
        padding: 12px 20px;
        overflow:hidden;
        position: relative;
}

.filter-group-content .sliding{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../images/view/Loading_f.gif)50% 50% / contain no-repeat;
    background-size: 60px;
    background-color: #FFF;
    opacity: 0.3;
}

.filter-ul{margin:0;padding:0;}
.filter-ul li{list-style-type: none; margin:0;padding:0;}
input.fil-inp {margin: 5px 5px 0 0;}

.more-filter-link{float:right;text-decoration:none;color:#333;margin-top:5px;cursor:pointer;}
.more-filter-link:hover{text-decoration: underline;}
.more-filter-link i{display: inline-block;width: 9px;height:9px;background: url(../images/view/sprite.png) -57px -34px;margin-left:5px;vertical-align: middle;}

.more-filter ul{margin:0;padding:0;}

.filter-but .fil-but{background:#b01617;
        background: -moz-linear-gradient(top, #cc3333, #AA2422);
        background: -webkit-gradient(linear, left top, left bottom, 
                                color-stop(0%,#cc3333), color-stop(100%,#AA2422));
        background: -webkit-linear-gradient(top, #fcfcfca, #AA2422);
        background: -o-linear-gradient(top, #cc3333, #AA2422);
        background: -ms-linear-gradient(top, #cc3333, #AA2422); 
        background: linear-gradient(top, #cc3333, #AA2422);
        border:none;
        color:#fff;
        width:100%;
        text-align:center;
        padding: 3px 0 5px;
        cursor:pointer;
}
	
.filter-result{overflow: hidden; margin-top: 15px;}

/*--------------prod-paginator------------*/
.pagination, .prod-paginato-case {text-align:center;}
.prod-paginator{padding:0;display: inline-block;}
.prod-paginator li{
    margin-right: 7px;
    float: left;
    list-style-type: none;
    font-size: 12px;
    color: #600;
    border: 1px solid #000;
}

.prod-paginator .disabled{
	margin: 0 4px 0 auto;
	color: #333333;
	border: 1px solid #333333;
	border-radius:4px;
	background: #ededed;
	padding: 1px 0;
}

.prod-paginato-case{
}
.prod-paginato-case::after{
	content:'';
	display:block;
	clear:both;
}

.sort-block .sort-ul{
    float: right;
}

.sort-block  h2{
    margin-top: 0px;
    margin-bottom: 0px;
}

.prod-paginator li a{
    display: block;
    line-height: 2;
    padding: 0 6px;
}

.prod-paginator li:hover{background: #EDEDED;}

.prod-paginator li.active a{background: #EDEDED;border-radius: inherit;font-weight: normal;}

.prod-paginator li.active{
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
}

.prod-paginator span{
    display: block;
    padding: 4px 7px;
    cursor: pointer;
    color: #333;
}

.prod-paginator .last a,
.prod-paginator .next a{
    width: initial;
    
    padding: 0px 6px;
}


.prod-paginator li a{color: #333;border-radius: 0px;text-decoration: initial;}
.prod-paginator li a:hover{color: #333;text-decoration: none;}

.pag-link{display: inline-block;width:13px;height:13px;background: url(../images/view/sprite.png);vertical-align: middle;}

	.pag-link.pag-link-first{background-position:0 -47px;}
		.pag-link.pag-link-first.pag-link-active{background-position:0 -61px;}
	.pag-link.pag-link-prev{background-position:-14px -47px;}
		.pag-link.pag-link-prev.pag-link-active{background-position:-14px -61px;}
	.pag-link.pag-link-next{background-position:-28px -47px;}
		.pag-link.pag-link-next.pag-link-active{background-position:-28px -61px;}
	.pag-link.pag-link-last {background-position:-42px -47px;}
		.pag-link.pag-link-last.pag-link-active {background-position:-42px -61px;}

		/*------product one page-------*/
.product-pics{float:left;margin-right: 10px;   margin-bottom: 15px; border: 1px solid #CCC;}
.product-info{margin: 10px 0; line-height: 1em;/* text-align: center; */}
#content  .product-info h2{
        cursor: pointer;
        padding: 7px 0;
}
#content  .product-info h2:hover{
        background: #F7F7F7;
        color: #000;
}

#content .product-info p{
    color: #333;
    margin: 10px 0 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px dashed;
    /*display: table;*/
    padding-bottom: 4px;
    display: inline;
    cursor: pointer;
}

.product-info ul{
    margin: 1em 0 1em 11px;
}

div.product-info ul li{
    overflow: hidden;
    padding-left: 0px;
    display: block;
    width: 158px;
    margin-right: 22px;
    line-height: 1.3;
    font-size: 14px;
    margin: 0 0 5px 22px;
    float: left;
}

.product-info h2{font-size:16px;}
.price {color:#ff0000;font-size:16px;font-weight: bold;float:right;padding-top:16px;}
.more-info p{padding:0;}
.check-ok {color: #009900;}
.check-error {color: #FE0002;}

.product-kol .prod-kol-input{float:left;width:150px;text-align:right;}
.product-kol input{width:50px;padding:5px 5px;border:1px #ccc solid;}
.product-kol .add-prod-link{float:left;}
ul.thumb {
	float: left;
	list-style: none;
	margin:10px 0; 
	padding:0;
	width: 360px;
}
ul.thumb li {
	margin: 0; 
	padding: 3px;
	margin-right:5px;
	margin-bottom:5px;
	float: left;
	position: relative;
	width: 50px;
	height: 50px;
	border: 1px solid #cccccc;
        cursor: pointer;
}

ul.thumb li:hover{
    border: 1px solid #000;
}

ul.thumb li img {
	max-width: 40px; 
	max-height: 40px;
	padding: 0;
}
ul.thumb li img.hover {
	border: none;
}
#main_view {
	width:350px;
	padding:5px;
	border: 1px solid #ccc;
	text-align:center;
}
#main_view img{
 max-width:340px;
}	
/*Left right columns*/		
.left-sidebar{float:left;width: 221px;}
.right-sidebar{margin-left: 20px;margin-top: 0px; display: block;float: left;width: 720px;margin-top: 5px;}
.right-sidebar h3{margin-top:0}
.right-sidebar.one{margin-left: 0;}

/*left menu*/
.left-menu {overflow:hidden;}
.left-menu ul {padding:0;margin:0;}
.left-menu li{list-style-type:none;width:100%;border-top:1px #eeeeee solid;}
.left-menu li:first-child{border-top:none;}
.left-menu li a{display:block;padding: 10px;text-decoration:none;color:#333;}
.left-menu li a.active{background: #AA2422;color:#fff;font-weight:bold;}

.left-menu-kat {margin-top: 22px;margin-left: 1px;}
.left-menu-kat h2 {font-size:16px;font-weight: normal;color:#333;margin:0 0 5px;}
.left-menu-kat ul{padding:0;margin:0;}
.left-menu-kat li{list-style-type:none;}
.left-menu-kat li a{display:block;padding: 5px 0;text-decoration:none;color:#333;}
.left-menu-kat li a:hover{text-decoration: underline;color: inherit;text-decoration: initial;}

.lang-ul{padding:0;margin:0;position:absolute;top:85px;right:20px;z-index:200;}
.lang-ul li{padding:0;margin:0 2px;float:left;font-size:12px;list-style-type:none;}
.lang-ul li a, .lang-ul li.del{color:#ffcc66;}
.lang-ul li.cur-lang{color:#fff;font-weight:bold;}

.bg-pic {position:absolute;width: 483px;height:183px;background: url(../images/view/main-theme.png);z-index:-1;}
.top-panel .bg-pic {left:220px;top:30px;}


li.list-block{
    width: 713px;
    height: 182px;
}

li.list-block .prod-pic{
    height: 180px;
    width: 206px;
}

li.list-block .description-short{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 150px;
    float: right;
    width: 500px;
    margin-right: 5px;
    padding: 10px;
}

li.list-block .prod-price{
    /*float: right;*/
}

li.list-block .wraper-list{
    width: 217px;
    float: right;
}

li.list-block .link-product{
    float: left;
    position: relative;
}

/* ============================= content ====================== */
.center-case {margin-top:25px; overflow:hidden;}

.right-sidebar ul{
margin: 0;}

.additional-images .portfolio-area li{
        list-style: none;
}
.product-info ul::after{
	content:'';
	display:block;
	clear:both;
}
.product-info ul{
        margin: 1em 0 1em 0;
        padding-left: 0;
}
.page-body ul li{
    display: list-item;
    width: auto;
    list-style-image: url('/images/view/li.jpg');
    list-style-position: inside;
    padding-left: 0;
    margin-bottom: 10px;
    line-height: 1.4em;
    margin-right: 20px;
    margin-top: 3px;
    font-size: 12px;
}

ul.delivery {padding-left: 0;}
ul.delivery li{list-style-image: none;}

ul.products-list  li{
    list-style-image:none;
    margin-right: 0;
    padding: 0px 10px;
    position: relative;
    width: 176px;
    border-bottom: 1px solid #D9D8D8;
}

p img{width: 100%}
.clear{clear:both;}
#content{
    width: 100%;
    padding-bottom: 15px;
    margin-top: 0px;
}

/*basket page*/
.basket_btl {width:100%;font-size:15px;background: #FFF;}
.basket_btl a{color: #F8BE33;}
.basket_btl td {padding: 10px 0;text-align:center;vertical-align:middle;}
.basket_btl th {padding:5px 15px;font-weight: normal;}
.basket_btl .td-name {text-align:left;}
.basket_btl .td-name, .basket_btl .td-num, .basket_btl .td-del  {background: #f1f1f1;}
.basket_btl td.td-empty{width:150px;}
.basket_btl td.td-num input{width: 45px;padding: 3px 8px;border-radius: 3px;border: 1px solid #CCC;}

.basket_btl a.delete-link{color:#333;font-size:18px;text-decoration:none;padding:5px;}

/*.basket_nav{border-top:2px #b7b7b7 solid;border-bottom:2px #b7b7b7 solid;margin-top:10px;padding:4px 0;}*/
.basket_nav >div{background:#f1f3f5;color:#444444;}
.basket_nav >div a{text-decoration:none;display:block;padding:6px 15px 4px;}

.basket_nav{
    /* margin: 0 30px; */
    /* padding: 5px; */
    /* border: 1px solid #AAA; */
    /* background-color: #FFF; */
    /* background: -webkit-linear-gradient(top, #FFF 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%); */
    /* background-clip: padding-box; */
    /* color: #444; */
    /* text-decoration: none; */
    /* white-space: nowrap; */
    /* line-height: 24px; */
}

.back-ico {display: inline-block;width:5px;height:10px;background: url(../images/view/sprite.png) -121px top;margin-right:8px;vertical-align:baseline;}
.back-ico {display: inline-block;width:5px;height:10px;background: url(../images/view/sprite.png) -121px top;margin-right:8px;vertical-align:baseline;}
.right-ico {display: block;width:8px;height:15px;background: url(../images/view/sprite.png) -138px -1px;position:absolute;top:12px;right:20px;}

.basket_sum {float:right;width: 100%;margin: 5px 0 5px 12px;overflow:hidden;font-size: 12px;padding-right: 12px;}
.basket_itog_sum, .put-delivery, .put-summ {display: inline-block;float:right;}
.basket_but_link{
    clear: both;
    cursor: pointer;
    display: block;
    float: right;
    overflow: hidden;
    width: 254px;
	
    text-decoration: none;
}
.basket_but{clear:both;display: block;width:254px;background:#AA2422;color:#fff;border:none;font-size:14px;font-weight:bold;padding:10px 0;position:relative;cursor: pointer;}
/*payment page*/
.payment-info{margin:30px 0 0;padding:0;}
.payment-info li{list-style-type:none;margin-bottom:25px;padding-left:78px;position:relative;}
.payment-info li i{position:absolute;left:0;top:3px;}
.payment-info li h3{font-size:16px;margin:0 0 20px;}
.payment-info p{padding:0;}

.payment-01,
.payment-02,
.payment-03 {display: block;background-image: url(../images/view/sprite.png);}
.payment-01 {width:59px; height:51px; background-position:left -124px;}
.payment-02 {width: 63px;height:42px; background-position:-61px -132px;}
.payment-03 {width: 49px;height:42px; background-position:-128px -133px;}

.payment-ul{overflow:hidden;margin:0;padding:0;}
.payment-ul li{list-style-type:none;margin-right:25px;float:left;width:80px;line-height:14px;}
.payment-ul .payment-03, .payment-ul  .payment-02{margin:5px 0 4px;}

/*order pages*/
.contact-block {width: 100%;;min-height:430px;border: 1px #cccccc solid;border-bottom:none; float:left;}
.contact-block h1{background: #f5f7f9;padding:15px 20px;margin:0;font-size: 24px;}
.contact-block .contact_btl {margin: 10px 20px;}
.contact_btl td{padding: 5px 0;}
.contact_btl td.td-label{border-bottom:1px #cccccc solid;width:335px;}
.contact_btl td.td-deliv{width:20px;}
.contact_btl td.td-inp{padding:10px 0;}
.contact_btl td.td-inp input.inp{width:323px;border:1px #ccc solid;padding:5px;}
.contact-block .basket_but_link{margin-top:20px;}

.order-status-block {width:230px; margin-left:755px;}
.order-status-block h2{margin-top:20px;font-size: 20px;}

.regist_link{height:40px;float:none;text-decoration: none;margin:15px 0 5px;display: block;}
.enter_link, .red_link{color:#AA2422;}

/*order status pages*/
.order-status{text-align:center;margin:-10px 0 5px;}
.order-status ul{display: inline-block;}
.order-status ul li{list-style-type:none;position:relative;padding:0 3px;float:Left;color:#999999;}
.order-status ul li a {color:#999999;}
.order-status ul li.current{color:#aa0000;}
.order-status ul li:before{content:"-";padding-right:5px;color:#999999;}
.order-status ul li:first-child:before{display:none;}

.check-user-block{background: #e5e3e3;padding:20px;margin-bottom:20px;}

.deliver_btl{width:100%;margin-bottom:20px;}
.deliver_btl td{padding:5px 0;}
.deliver_btl .td-label input {float:left;}
.deliver_btl .td-label .deliver-info, .deliver_btl .td-label .payment-info{margin-left:30px;overflow:hidden;}
.deliver-info img, .deliver-info i {float:left;margin-right:10px;}
.deliver-info h2{margin:5px 0 15px;}
.deliver-info p{clear:both;}

.deliver_btl .td-more {text-align:center;color:#999;}
/*deliver page*/
.ul-pic {overflow:hidden;margin:0;padding:0;}
.ul-pic li{list-style-type:none;margin:0;padding:0;margin-bottom:10px;}
.ul-pic li .ul-pic-pic{width:200px; float:left;text-align:center;}
.ul-pic li .ul-pic-pic img{max-width:200px;}
.ul-pic li .ul-pic-info{margin-left:220px;}

.feat-ul{margin:0;padding:0;} 
.feat-ul li{padding-left:25px;position:relative;list-style-type:none;margin-bottom:5px;} 
.feat-ul li i{position: absolute; left:0;top:0;color:#ff0000;font-weight:bold;font-size:16px;} 

h2.promo2{font-size:40px;line-height:48px;color:#ffcc66;font-weight:bold;margin:0;}
h2.promo2 span{font-size:60px;color:#cc0000;}

.four-ul,.two-ul{margin:0 0 20px;overflow:hidden;padding:0;width:100%;}
.four-ul li{width:25%; list-style-type: none; float:left;}
.four-ul li >img{border:3px #ffcc66 solid; border-radius:2px;}
.four-ul li  h3, .two-ul li h3{color:#AA2422;margin:0;font-weight: bold;font-size: 24px;margin:10px 0 5px;padding:0;}
.four-ul li  p{padding-right:20px;}

.two-ul {margin-left:-20px;}
.two-ul li{width:50%; list-style-type: none; float:left;margin-bottom:35px;}
.two-ul li >div{padding-left:20px;}
.two-ul.ul-video li:last-child{margin-left:25%;}

.table {width:100%;margin:0 0 15px;}
.table th, .table td{text-align:left;padding:8px 5px;border:1px solid #dddddd;border-top:none;border-left:none;background:#f9f9f9;}
.table tr:first-child th, .table tr:first-child  td{border-top:1px solid #dddddd;}
.table tr>*:first-child{border-left:1px solid #dddddd;}
.table tr:nth-child(even) th, .table tr:nth-child(even) td{background:#fff;}


.table th.right-align, .table td.right-align  {text-align:right;}
.icon-remove{display:inline-block;//display:inline;zoom:1;width:10px;height:10px;margin-left:4px;background:url(../images/view/sprite.png) -45px -34px;}
.number{position:relative;width:79px;display:inline-block;//display:inline;zoom:1;}
.number i {display:block;position:absolute;background: url(../images/view/selects-2.png);width:15px;height:13px;text-indent:-9999px;right:2px;}
.number i.minus {background-position: -80px -31px;bottom:1px;}
.number i.plus {background-position: -62px -31px;top:1px;}

.table.table-sent th{color:#AA2422;}

.tbl-price{width:600px;border:none;}
.tbl-price tr >*{text-align:right;padding:20px 5px;border-bottom:1px #e2e2e2 solid;}
.tbl-price tr>*:first-child{text-align:left;}
.tbl-price tr:first-child th{background: #999;padding:5px 5px;}
.tbl-price .t-price b{font-weight:bold;font-size:30px;}
.tbl-price .t-price span{line-height:30px;}
.tbl-price  td.t-price  {text-align:right !important;}


.buy-now{overflow:hidden;margin: 0 0 20px;padding:0;}
.buy-now li{float:left;list-style-type: none; margin:0;padding:0;}
.buy-now li +li{ margin-left:20px;}
.buy-now img{border:2px #AA2422 solid;border-radius:2px;float:left;}
.buy-now .price{margin-left:185px;padding-top:30px;}
.buy-now .price .btn{margin-top:9px;}
.buy-now .price span{color:#AA2422;}

a.pay_link {text-decoration: underline !important;color:#333;}

.wh-page{
	background: #fff;
}


/*form*/
form {font-size:12px;}
.info-row{clear:both;margin:2px 0;position:relative;}
.info-row label{float:left;width:95px;text-align:right;padding-top:3px;}
.info-row2{border-top:1px #d8d8d8 solid;border-bottom:1px #d8d8d8 solid;padding:10px 30px;width:550px;}
.info-row2 .price{float:right;}
.controls {margin-left:120px;width:165px;height:27px;position:relative;}

.input-info-card  .info-row label {width:155px;}
.input-info-card  .controls {margin-left:170px;}
.info-row input{
	border:1px #AA2422 solid;
	border-radius:3px;
	padding: 5px 0 4px 7px;
	line-height:14px;
	font: 12px Arial,"Helvetica CY","Nimbus Sans L",sans-serif;
	width:171px;
	left:0;
	margin:0;
	float:left;
	display:block;
 }
 .info-row input:disabled{background:#ccc;}
 input.input-number, input.input-search{
   border:1px #ccc solid;
	border-radius:3px;
	padding: 5px 0 4px 7px;
	line-height:14px;
	font: 12px Arial,"Helvetica CY","Nimbus Sans L",sans-serif;
	width:70px;
	height:17px;
}

.payment_sistems{margin:0;padding:0;}
.payment_sistems>li{list-style-type:none;margin:0;padding:10px 0; border-bottom:1px #ccc solid;}

.atention{color: #AA2422;
    font-size: 14px;
	font-weight:bold;}
/* .payment_sistems li .payment-info{display:none;}
.payment_sistems li.current .payment-info{display:block;} */


.payment_sistems  .info-row label{
	float:none;
	display: inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:middle;
	line-height:12px;
}
.payment_sistems  .controls {margin-left:20px;width:165px;height:27px;position:relative;display: inline-block;
	//display:inline;
	//zoom:1;vertical-align:middle;}
	
.payment_sistems .info-row {margin:4px 0;}


.p_sistem_name h4{display: inline-block;
	//display:inline;
	//zoom:1;
	margin:0 0 10px;}


/*secure page*/
.toggled {margin:3px 0;}
.toggled h3{padding:7px 15px;margin:0; background: #cccccc;border:1px #666666 solid; color: #fff;font-size:14px;font-weight:bold;}
.toggled a{text-decoration:none;}
.toggled.toggled-open h3{ color: #AA2422;}

.toggled .hidden-block{ display:none;margin:25px 0; padding:0 16px; }
.toggled.toggled-open .hidden-block{ display:block;}

.payment{overflow:hidden;margin:15px 0 0;padding:0;}
.payment li{ float:left;list-style-type:none;margin-right:4px;}
.payment li img{border: 1px #cfcfcf solid;}
/* ============================= footer ====================== */

.footer {
background: url(../images/view/bg-fotter.png); 
height: 200px;
/*position:absolute;*/
bottom:0;
width:100%;
color:#333;
z-index:0;
}
.footer a{color: 333;}
.footer .wrapper> .bg-pic {z-index:-1;left:349px;top:15px;}
.footer .wrapper> * {z-index:10;}

.stat{float:right;margin-left:12px;margin-top:-5px;}
.fut-menu{padding:0;margin-left:90px;margin-top:10px;width:100px;float:left;}
.fut-menu li{list-style-type: none;margin:0 2px;list-style-type:none;}
.fut-menu li a{font-size: 15px;color: #b81615;text-decoration:underline;}
.fut-menu li a:hover{text-decoration:none;}

.ft-right {float:right;width:260px;padding-top:10px;}
.ft-right .search{width:260px;}
.ft-right .search input.inp{width:205px;}
.ft-right .times{color: #666666;font-size:17px;font-weight:bold;}
.ft-right .phones{position:relative;color: #b51819;font-size:12px;padding-left:20px;margin-top:5px;line-height:14px;}
.ft-right .phones .ico-clock{position:absolute;top:2px;left:0;}

.cr {border-top:1px #900000 solid;margin-top:10px;padding-top:10px;color:#999;font-size:12px;}
.cr a{color:#999;font-size:12px;}
.cr-left{float:left;}
.cr-right{float:right;}

.ico-clock{display: inline-block;vertical-align:bottom;background: url(../images/view/sprite.png) -24px top;width:15px; height:15px;margin-right:4px;}

.add-prod-link span{
    float: left;
    margin: 4px 0 0 2px;
    background: none;
    width: 34px;
}
.add-prod-link .amount-view{
    float: left;
    margin: 5px;
}
    
.add-prod-link .amount{
    float: right;
    height: 22px;
    margin-right: 2px;
    position: absolute;
    right: 2px;
}

.remuve, .add{
    border: none;
    color: #E9690B;
    text-decoration: underline;
    cursor: pointer;
    background: url(../images/view/cardd.png) 0 2px no-repeat;
    padding-left: 18px;
    font-family: 'Exo 2', sans-serif;
    font-size: 13px;
    float: right;
    margin-top: 0px;
    padding-right: 0;
}

[name='bottom'].add{
    position: absolute;
    background: none;
    width: 80%;
    left: 0;
    height: 100%;
    top: 0;
}

.amount .add{}
.amount .remuve{
    background-position: 16px 10px;
}

.amount .add:hover{
    background-position: 32px 0;
}
.amount .remuve:hover{
    background-position: 32px 10px;
}

.basket-stat a{text-decoration:none;}
.basket-link {
    display: block;
    border: 1px #AA2422 solid;
    cursor: pointer;
    text-decoration: none;
    width: 163px;
    height: 50px;
    padding: 15px 5px 5px 32px;
    position: relative;
    color: #000;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.basket-link.empty{border: 1px solid #D4D8DA;}
.basket-link .ico-basket{display: block;position:absolute;left:5px;top:10px;width:21px;height:24px;background: url(../images/view/sprite.png) left -22px;;}
.basket-link .basket-sum {font-weight:bold;color:#999999;text-decoration:underline;}


#basket-wraper{
/*    position: absolute;
    right: 0;*/
    background: #CCC;
    width: 192px;
}

.basket-stat{
    float: right;
    width: 165px;
    background: #fff;
}

.basket-stat.empty .btn2{display: none}

.basket-stat  .empty-basket{display: none;}
.basket-stat.empty a button{display:none}
.basket-stat.empty  .empty-basket{display: block;}
.basket-stat.empty .basket-link{border: 1px solid #ccc;}


.basket-logo{
    width: 79px;
    height: 40px;
    background-color: #fff;
}

.sort-select{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 8px;
    border: 1px solid #AAA;
    border-radius: 3px;
    background-color: #FFF;
    background: -webkit-linear-gradient(top, #FFF 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
    background-clip: padding-box;
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
    width: 100px;
    height: 24px;
}

#content h1, #content h2, #content h3, #content h4{
    font-family: 'Exo 2', sans-serif;
    /* font-weight: bold; */
    color: #333;
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 20px 0;
}

 #content h4{
 	font-size: 16px;
 }

#content h1{
    margin: 0px 5px 0px 0;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 24px;
    margin: 10px 0 0;
}
#content .novosti h1{
	color: #4E6883;
	margin: 5px 10px; 
	font-size: 24px; 
	font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif; 
	font-weight: normal; 
	font-style: normal;
}
#content h1.page.novosty{
        padding: 0;
        color: #333333;
        font-size: 30px;
        font-family: 'Exo 2', sans-serif;
        font-weight: bold;
        margin-top: 13px;
        margin-bottom: 10px;
}
#content .view-name{
	
margin-top: -13px;
}

table .basket_sum{
    float: left;
}

table{width: 100%}

.sort-block table td{
    padding: 0;
}

.bottom-basket {
    background: #d1d1d1;
    background: -moz-linear-gradient(top,  #d1d1d1 1%, #eaeaea 51%, #d1d1d1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d1d1d1), color-stop(51%,#eaeaea), color-stop(100%,#d1d1d1));
    background: -webkit-linear-gradient(top,  #d1d1d1 1%,#eaeaea 51%,#d1d1d1 100%);
    background: -o-linear-gradient(top,  #d1d1d1 1%,#eaeaea 51%,#d1d1d1 100%);
    background: -ms-linear-gradient(top,  #d1d1d1 1%,#eaeaea 51%,#d1d1d1 100%);
    background: linear-gradient(to bottom,  #d1d1d1 1%,#eaeaea 51%,#d1d1d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#d1d1d1',GradientType=0 );

    
    height: 34px;
    position: fixed;
    bottom: 0;
    z-index: 11;
    width: 100%;
}

.basket-menu{
    float: right;
}


.basket-menu li {
  list-style-type: none;
  float: left;
  border-left: 1px #DCE6ED solid;
}

.basket-menu li{
    padding: 0 17px;
    font-size: 12px;
    text-decoration: none;
    line-height: 34px;
}

.basket-menu li a {
  display: block;
}

.bold{
    font-weight: bold;
}

.view-checkout{
    width: 223px;
    float: right;
}

.view-checkout .price{
    margin: 5px 5px 0px;
    padding: 0
}

.view-checkout .add-prod-link{
    float: right;
}

.basket-wraper{
/*    position: relative;
    border: 1px solid #F00;
    height: 40px;
    width: 100%;
    z-index: 100;
    bottom: 197px;*/
}

.empty-basket{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #D4D8DA;
    color: #7D7D7D;
    text-decoration: none;
    text-align: center;
    height: 40px;
    padding: 10px 0;
    margin-top: 5px;
}

.alert {
    margin: 15px 0 0;
}

#login td{padding: 0 10px;}

.logout{font-size: 12px;}

.search .btn{
    
}

#menu-treeview .active{
    color: #F00;
    font-weight: bold;
}

.top-menu .active {
    color: #F00;
}

#filter-value label{
    display: none;
}

#filter-value td div{
    margin: 0;
}

.more-info{
    margin: 15px 0;
}

#category_tree .treeview ul, .treeview ul {
    background-color: #F3F3F3;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #F3F3F3;
}

#category_tree .filetree li {
    border-top: 1px solid #E3E3E3;
    padding: 5px 0;
    background: none;
    margin-left: 10px;
}

#category_tree .treeview div.expandable-hitarea {
    background-position: -118px -17px;
}

#category_tree .treeview .hitarea {
    background: url(../images/view/sprite.png) no-repeat;
    height: 18px;
    width: 17px;
    float: left;
    cursor: pointer;
    margin: 6px 7px 0px 0px;
    background-position: -118px -35px;
}

.product_cat{
    padding: 7px;
    background-color: #F3F3F3;
    font-weight: bold;
    font-size: 16px;
}

.menu-category{
    border-bottom: 1px solid #E3E3E3; 
    border-left: 1px solid #E3E3E3; 
    border-right: 1px solid #E3E3E3;
    background: #F3F3F3;
    background: url(../images/view/loadingAnimation.gif)
}

.menu-category {
    background: url(../images/view/loadingAnimation.gif) 50% 50% / contain no-repeat;
    background-repeat: no-repeat;
    min-height: 50px;
    background-size: 190px;
}

li a.active{
    color: #FF6B00;
}

.filter p{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
    color: #000;
}

#reistration::after{
    content: '';
    display: block;
    clear: both;
}

#reistration form{-webkit-box-shadow: 0;box-shadow: none;}
#recovery button,
#reistration button{
        padding: 0 21px;
        border-radius: 3px;
        background: #A1ADBA;
        border-collapse: separate;
        text-decoration: none;
        font-size: 13px;
        font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
        font-weight: normal;
        font-style: normal;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        color: #FFF;
        margin: 0 5px 10px 0 !important;
        overflow: visible;
        cursor: pointer;
        text-indent: 0;
        line-height: 24px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
}
#reistration .form-group{
	width: 410px;
	position: relative;
	margin-bottom: 10px;
}

#reistration .form-label{
	height: 34px;
	display: table-cell;
	vertical-align: middle;
	width: 200px;
}

#reistration .form-label label{
    float: left;
    display: table;
    margin-right: 3px;
    clip: auto;
    overflow: visible;
    width: initial;
    position: relative;
}

#reistration .form-input{
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}

#reistration  .form-inline .form-control {
		display: inline-block;
		width: 250px;
		vertical-align: middle;
}

.form-label{
    /*float: left;*/
    display: flex;
}
.form-input{
    /* width: 90%; */
}

.form-label span{display: none}
.required span.required{
    display: block;
    color: red;
    float: right;
}

ul.ui-autocomplete{
    z-index: 1000;
    width: 354px;
    width: 661px;    top: 149px;    left: 30px;
}

.ui-menu li.ui-menu-item.ui-state-focus {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1D36C), color-stop(100%, #E9690B));
    color: #FFF;
}

#content.admin{padding: 20px;position: relative;}
.filter-btn{
    padding: 0px 0 0 20px;
    vertical-align: top;
}

#filter-value td{
      padding: 5px 5px 0 0;
}

.regions-phone{font-size: 12px;color: #666;margin-left: 31px;}


header, #searh{
    /* cursor: auto; */
    width: 960px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 8px;
}

.head-address{
    float: left;
    margin: 16px 0 0 87px;
}
.head-address.next{margin-left: 27px;}
.region-icon{}
#enter .region-icon{
    background: url(../images/view/header_icons.png) no-repeat;                    
    height: 30px;          
    width: 30px;          
    background-position: 0px -32px;
    position: absolute;
}

#enter .logout{
    margin-left: 10px;
    margin-top: 6px;
    font-size: 12px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.region-icon {}

#enter .region-enter{
    background: url(../images/view/header_icons.png) no-repeat;          
    height: 24px;          
    width: 23px;          
    background-position: -2px -63px;                    position: absolute;
    top: 40px;
}
.regions-phone .regions{
    width: 132px;
}

#kartap-image{
    margin: 0px 3px 0 0;
    height: 67px;
    float: left;
}

#kartap-image .img{
    background: url(../images/view/header_icons.png) no-repeat;
    float: left;
    height: 29px;
    width: 21px;
    background-position: -3px -2px;
}

.kartap-info{
    font-family: Arial, 'Arial Unicode MS', Sans-Serif;
    font-size: 12px;
    color: #666;
    padding: 0;
    line-height: 1.5;
    margin-top: 8px;
    margin-right: 33px;
    width: 155px;
    height: 70px;
}

.kartap-info a[href]{
	
text-decoration: underline;
	
color: #32a1d0;
}

#enter{
    float: right;
    color: #32A1D0;
    margin: 23px 0 0 0px;
    
    position: relative;
    height: 65px;
}

.key, .login, .registration, .s{
    float: left;
    font-size: 12px;
    margin: 0 2px;
}

#searh{
    margin: 12px auto 0;
    width: 962px;
    display: block;
    background: url('../images/view/p.jpg');
    background-size: 100% 100%;
    height: 49px;
}

#search-in{
    margin: 10px 0px 0px 11px;
    width: 657px;
    padding-left: 32px;
    float: left;
    border: none;
    height: 30px;
    color: #000000;
    background: none;
    font-size: 13px;
}

#search-in:focus{
    border: none !important;
}
.vert:focus{
outline: none;}
.vert{
    float: left;
    width: 81px;
    height: 39px;
    padding: 0px 0px 12px 0px;
    margin: 10px 0px 0px 3px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 1.7;
    font-size: 14px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    border: 0;
    padding: 0;
    height: 29px;
    padding-top: 5px;
    cursor: pointer;
    font-weight: bold;
}

#basket{
    float: left;
    padding: 5px 0px 0px 20px;
    width: 210px;
    margin-left: 0px;
}

.basket-img{
    float: left;
    margin-top: 4px;
}

.basket-info{
    color: #FFF;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    height: 38px;
    width: 163px;
    padding-left: 10px;
}

.basket-info .custom a{
        color: #7dbddd;
}

.basket-info .basket-count{
    float: left;
    margin-left: 6px;
}

.total-products span{
    float: left;
}

.total-products{
    height: 18px;
}

#menu-futer li{
    float: left;
    margin: 0px 0px;
    list-style: none;
    border-left: 1px solid #8EBDDE;
    padding: 0 8px;
}

#menu-futer li:first-child{
    border: none;
}

#body-content{
    margin: 0 auto;
    position: relative;
    /* cursor: auto; */
    width: 983px;
}

#menu-futer{
    margin-bottom: 10px;
    text-align: left;
    border-top: 1px solid #E2E1E1;
    padding-top: 25px;
}

#menu-futer a{
        color: #32a1d0;
        font-size: 12px;
}
#menu-futer a:hover{
        text-decoration: underline;
}

#menu-futer ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #32A1D0;
    list-style: none;
    border-bottom: #7DBDDD dotted 0px;
    font-size: 12px;
}

#copyright{
    color: #666;
    font-size: 12px;
}

#ya-market p,
#copyright p{
    margin: 0;
    padding: 0;
    margin-bottom: 7px;
}

#ya-market{/* width: 340px; */text-align: center;float: right;margin-top: 17px;}

#navigation{
    width: 960px;
    background: url('../images/view/gorm.jpg');
    display: block;
    height: 55px;
    font-size: 15px;
    line-height: 38px;
    margin: 0 auto;
}

ul.menu-goriz li{
    padding: 2px 0 0 21px;
    font-size: 12px;
    text-decoration: underline;
    border-radius: 0px;
    color: #333;
    float: left;
    list-style: none;
    position: relative;
}

ul.menu-goriz li a{color: #333;}
ul.menu-goriz li a:hover{color: #333;}

ul.menu-goriz li:hover{
    text-decoration: none;
}

li ul{display: none;}
/*li:hover ul{display: block}*/ 

.menu-goriz li ul{
    position: absolute;
    z-index: 1000;
    margin: 0px 0px 0px -20px;
    padding-top: 3px;
    width: 130px;
    left: 40px;
}

.menu-goriz li ul:before{
	content:'';
	display:block;
	background: url(../images/view/corner.png);
	height:10px;
	background-repeat: no-repeat;
	width: 134px;
	position:absolute;
	z-index: 100;
	top: -2px;
	left: -21px;
}

ul.menu-goriz li ul li {
    display: block;
    float: none;
    padding: 0px 25px;
    background: #EEE;
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
    border-bottom: 1px solid #FFF;
    margin-left: -39px;
}

ul.menu-goriz li ul li:first-child{border-radius: 5px 5px 0 0;border-top: 1px solid #DBDBDB;}
ul.menu-goriz li ul li:last-child{border-radius: 0 0 5px 5px;   border-bottom: 1px solid #CCC;}


ul.menu-goriz{
    /* width: 748px; */
    display: inline-block;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    border-radius: 0px;
    color: #333;
    padding: 0;
}

ul.menu-goriz li:hover ul{
    display: block;
}

.opt-price-box {
    text-align: left;
    font-size: 12px;
    clear: both;
    border-top: 1px solid #E9E8E8;
    padding-top: 10px;
    margin-top: 5px;
    position: relative;
}

.modal_close{
	display:none;
}
.opt-price{
	color: #b0b0b0;
	font-size: 14px;
	font-family: 'Exo 2', sans-serif;
}

a.modal-link-opt-price{
    color: #B0B0B0;
    font-family: 'Exo 2', sans-serif;
    font-size: 9px;
    margin-left: 0px;
    float: right;
    line-height: 1.1;
    text-decoration: none;
    border-bottom: 1px dashed;
    position: absolute;
    display: inline;
    text-align: center;
    top: 15px;
    right: 0;
    cursor: pointer;
}

a.modal-link-opt-price[href]:hover{
	
border-bottom: none;
	
color: #B0B0B0;
}

header.admin{
    width: 100%;
}

span.title {
    display: block;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

.properties table{
    margin-top: 12px;
    
    table-layout: fixed;            
    /* border-radius: 6px; */ 
    /* overflow: hidden; */
}

.properties th,
.properties td{
    border: 1px solid #EEE;
    padding: 9px;
    font-size: 14px;
}

.properties td{font-weight: bold;}
.properties th{font-weight: normal;}
.properties tr::first-child td{
    background: #F7F7F7;
}

tr:nth-child(2n-1) {background: #F7F7F7;} 
.menu-goriz ul {padding: 0;}
#ajax-model{margin-bottom: 15px;}

.typography hr{
	display: block;
	width: 100%;
	height: 2px;
	border: solid #e2e2e2;
	border-width: 1px 0;
	margin: 30px 0 20px;
}

.site-error{
        padding-top: 68px;
}

.none{display: none;}
.cbk-window-bgr{display: none !important;}

#recovery .help-block-error{
        display: none;
}
#recovery button{
        margin-left: 10px !important;
}
#recovery .form-group{margin-bottom: 0}
#recovery p{
        padding: 10px;
}

#changepassword {
        padding: 0;
        width: 540px;
        margin: 0 auto;
}
#changepassword p .required{
        color: red;
}
#changepassword .row{
        margin: 0;
        margin-bottom: 9px;
}
#changepassword .row label{
        float: left;
        margin: 0;
        line-height: 1.5;
}
#changepassword .row input{
        float: right;
}
#changepassword button{
        float: right;
        margin-right: 143px;
}
.h2-span {
    color: #333;
    display: block;
    font-size: 24px;
    padding: 0px 0 0px 2px;
    border-bottom: #7DBDDD dotted 0px;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    margin: 24px 0 0 2px;
}